<template lang="pug">
    transition(name="fade" )
        section.box-controls(:class="'box-controls_'+type")
            .box-controls__overlay(v-if="overlay" ref="overlay")
            .box-controls__box()
                .box-controls__box-inner
                    .box-controls__close(
                        :icon="{name:'close'}",
                        @click="$emit('boxControlClose')"
                        title="Закрыть"
                        )
    
    
                    p.box-controls__text
                        slot(name="text")
                    slot
</template>

<script>
export default {
    props: {
        type: {
            type: String,
            validator(value) {
                return ['popup', 'notice', ''].includes(value)
            },
            default: ''
        },
        overlay: {
            type: Boolean,
            default: true
        },
        show: Boolean,
        blur: Boolean
    },

    created() {
        this.$root.$on('globBoxControlClose', this.boxControlClose)
        setTimeout(() => {
            document.body.classList.add('is-opened-box-controls')
        }, 50)
    },
    mounted() {
        // console.log('mounted()', this.$refs);
        this.$refs.overlay.addEventListener('click', this.close)
    },

    beforeDestroy() {
        this.$refs.overlay.removeEventListener('click', this.close)
        document.body.classList.remove('is-opened-box-controls')
        this.$root.$off('globBoxControlClose', this.boxControlClose)
    },
    methods: {
        boxControlClose(val) {
            this.$emit('boxControlClose', val)
        },
        close(e) {
            // if (!this.show) return;

            if (!e.target.matches('.box-controls__box, .box-controls__box *')) {
                this.$emit('boxControlClose')
                document.removeEventListener('click', this.close)
            }
        }
    }
}
</script>

<style lang="scss">
.box-controls {
    $self: '.box-controls';
    $color-box: jscolor(light);
    @include trans;
    
    &__box-inner {
        overflow-y:auto;
        overflow-x:hidden;
        width: 100%;
    }
    &__box {
        &::before {
            $sz: 10px;
            content: '';
            position: absolute;
            border: $sz solid transparent;
            border-bottom: $sz solid $color-box;
            right: 0;
            bottom: 100%;
            display: none;
        }

        position: relative;
        margin-top: calc-em(15);
        margin-bottom: calc-em(15);
        z-index: 99999;
        background-color: $color-box;
        width: calc(100% - 30px);
        
      
       

        @include box-info;
        max-height: 90%;
        max-width: 90%;
        @add-mixin point xs-after {
            .box-controls & {
                position: fixed;
                left: 50%;
                top: 50%;
                bottom: auto;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                

               
                height: auto;
                width: auto;
                margin: auto;
                display: inline-block;
            }

            .chat-main-footer__box-control & {
                width: 100%;
            }
        }

        #{$self}_notice &,
        #{$self}_popup & {
            position: fixed;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            display: inline-flex;
            flex-direction: column;

            align-items: center;
            justify-content: center;
            text-align: center;
        }
        #{$self}_notice & {
            height: 300px;
            width: 300px;
        }
    }

    &__text {
        &:empty {
            margin: 0;
        }
        margin: jspx(25) 0;
        word-break: break-word;
    }

    &__close {
        position: absolute;
        right: 0;
        top: 0;

        display: inline-block;
        padding: 1em 2em;
        cursor: pointer;

        &::before {
            content: '×';
            font-size: 30px;
            line-height: 1;
            color: jscolor(accent);
        }
    }

    &__overlay {
        content: '';
        @include abs-stretch;
        margin: -999em;
        z-index: 9999;
        opacity: 0;
        visibility: hidden;
        background-color: rgba(0, 0, 0, 0.3);
        @include trans;
        transition-duration: 0.2s;
        .is-opened-box-controls & {
            opacity: 1;
            visibility: visible;
        }

        #{$self}_notice &,
        #{$self}_popup & {
            position: fixed;
            margin: 0;
        }
    }
}
</style>
