<template lang="pug">
    .btn-toggle( :class="classRoot" v-on="inputListeners")
</template>

<script>
export default {
    name: 'BtnToggle',
    props: {
        isActive:false,
    },
    data() {
        return {
            // isActive:false
        }
    },
    computed: {
        classRoot() {
            const list = []
            if (this.isActive) list.push(`${this.componentName}_is-active`)
            return list.join(' ')
        },
        inputListeners: function() {
            var vm = this
            // `Object.assign` объединяет объекты вместе, чтобы получить новый объект

            return Object.assign(
                {},
                // Мы добавляем все слушатели из родителя
                this.$listeners,
                // Затем мы можем добавить собственные слушатели или
                // перезаписать поведение некоторых существующих.
                {}
            )
        }
    },
    methods: {
        /* toggle(){
            this.isActive = !this.isActive
        } */
    }
}
</script>

<style lang="scss">
.btn-toggle {
    display: block;
    $deg: 43deg;
    $sz: 40px;
    $h: 2px;
    cursor: pointer;
    background: none;
    border: 0;
    width: $sz;
    min-width: $sz;
    height: $sz;
    text-align: center;
    position: relative;
    line-height: $sz;
    color: jscolor(dark);
    padding: 0;
    &:before,
    &:after {
        width: 11px;
        height: $h;
        background: currentColor;
        content: '';
        display: inline-block;
        margin: -1px;
        position: relative;
        top: -5px;
        @include trans;
    }

    &:before {
        transform: rotate($deg);
        right: -($h) / 2;
    }
    &:after {
        transform: rotate(-($deg));
        left: -($h) / 2;
    }
    &_is-active:before {
        transform: rotate(-($deg));
    }
    &_is-active:after {
        transform: rotate($deg);
    }
}
</style>
