<template lang="pug">
    mark.catalog-detail-mark(v-if="content.productBonusIs")
        span.catalog-detail-mark__title(v-text="content.productBonusTitle")
        =' '
        span.catalog-detail-mark__text(v-text="content.productBonusText")
</template>

<script>
export default {
    name: 'CatalogDetailMark',
    data() {
        return {}
    },
    computed:{
        content(){
            return this.$store.state.control.pageData.catalogDetail?.data || {}
        },
       
    }
}
</script>

<style lang="scss">
.catalog-detail-mark {
    display: inline-flex;
    flex-direction: column;
    background-color: jscolor(accentlight);
    color: jscolor(light);

    
 

    padding: jspx(11) jspx(33);

    @add-mixin point xs-only {
     
        padding: jspx(11) jspx(10);
        border-radius:jsvar(border-radius);
    }

    &__title {
        font-size: jsfs(h3);
        font-weight: bold;


        @add-mixin point xs-only {
            font-size: jsfs(h6);
           
        }
    }
}
</style>
