<template lang="pug">
    v-bem(tag="form").catalog-filter
       
        fieldset
            .legend
                span.legend-title Автозапуск
                span.help
                    .help-title ?
                    .help-content Дистанционный запуск двигателя автомобиля
                    
            radio-check(name="avtozapusk" v-model="model.avtozapusk" type="checkbox") Есть
        fieldset
            .legend
                span.legend-title ЖК брелок
                span.help
                    .help-title ?
                    .help-content Оповещение о тревогах на дополнительный брелок
            radio-check(
                type="radio"
                @click="model.brelok=null",
                name="brelok"
                v-model="model.brelok",
                :value="true") Есть
            radio-check(
                @click="model.brelok=null",
                type="radio",
             
                name="brelok"
                v-model="model.brelok"
                :value="false") Нет
        fieldset
            .legend
                span.legend-title Носимая метка
                span.help
                    .help-title ?
                    .help-content Дополнительная защита от угона автомобиля
            radio-check(name="mark" v-model="model.mark" type="radio" :value="true", @click="model.mark=null",) Есть
            radio-check(name="mark" v-model="model.mark" type="radio" :value="false", @click="model.mark=null",) Нет
        fieldset
            .legend
                span.legend-title GSM
                span.help
                    .help-title ?
                    .help-content Оповещение о тревогах на мобильный телефон
            radio-check(name="gsm" v-model="model.gsm") Есть
        fieldset
            .legend
                span.legend-title Мобильное приложение
                span.help
                    .help-title ?
                    .help-content Управление системой сигнализации с помощью смартфона
            radio-check(name="phone" v-model="model.phone") Есть
        fieldset
            .legend
                span.legend-title GPS/ГЛОНАСС
                span.help
                    .help-title ?
                    .help-content Модуль для точного определения местоположения автомобиля
            radio-check(name="gps" v-model="model.gps" type="radio", :value="true" @click="model.gps=null") Есть
            radio-check(name="gps" v-model="model.gps" type="radio", :value="false" @click="model.gps=null") Опционально
        fieldset
            .legend
                span.legend-title Bluetooth
                span.help
                    .help-title ?
                    .help-content Использование смартфона, как носимую метку
            radio-check(name="bluetooth" v-model="model.bluetooth") Есть


</template>

<script>
import RadioCheck from '@/components/RadioCheck'

export default {
    name: 'CatalogFilter',
    components: { RadioCheck },
    props: {
         itemList:{
             type:Array,
             default:()=>[]
         },
    },
    data() {
        return {
            model: {
                avtozapusk: null,
                brelok: null,
                mark: null,
                gsm: null,
                phone: null,
                gps: null,
                bluetooth: null
            }
        }
    },
    watch:{
        $route: {
            handler(to, from) {
              
                
                this.model = {
                    ...this.model,
                    ...to.query
                }
            },
             immediate: true
        },
        'model':{
            handler(val) {
                let {name,params} = this.$route;
                let newQuery = {}
                Object.entries(val).filter(([key,value])=>value).forEach(([key,value])=>newQuery[key]=value)

                this.$router.replace({
                    name,
                    params,
                    query: {
                        ...newQuery
                    }
                }).catch(err => {})
                if(!process.client) return
                document?.querySelector('.section-catalog-list').scrollIntoView({
                    behavior: 'smooth'
                });
            },
            deep:true,
            immediate: true
        },
        'filterList':{
            handler(val) {
                this.$emit('resultItemList',val)
            },
            immediate: true
        }
    },
    computed:{
        filterList(){
            return this.itemList.filter(item=>{
                if(this.model.avtozapusk) return item.specifications.find(item=>item.type==='Автозапуск' && item.val==='Есть')    
                //if(this.model.avtozapusk===false) return item.specifications.find(item=>item.type==='Автозапуск' && item.val==='Нет')   
                else return true   
            }).filter(item=>{
                if(this.model.brelok) return item.specifications.find(item=>item.type==='ЖК брелок' && item.val==='Есть')
                if(this.model.brelok===false) return item.specifications.find(item=>item.type==='ЖК брелок' && item.val==='Нет')
                else return true
            }).filter(item=>{
                if(this.model.mark) return item.specifications.find(item=>item.type==='Носимая метка' && item.val==='Есть')
                if(this.model.mark===false) return item.specifications.find(item=>item.type==='Носимая метка' && item.val==='Нет')
                else return true
            }).filter(item=>{
                if(this.model.gsm) return item.specifications.find(item=>item.type==='GSM' && item.val==='Есть')
                if(this.model.gsm===false) return item.specifications.find(item=>item.type==='GSM' && item.val==='Нет')
                else return true
            }).filter(item=>{
                if(this.model.phone) return item.specifications.find(item=>item.type==='Мобильное приложение' && item.val==='Есть')
                if(this.model.phone===false) return item.specifications.find(item=>item.type==='Мобильное приложение' && item.val==='Нет')
                else return true
            }).filter(item=>{
                if(this.model.gps) return item.specifications.find(item=>item.type==='GPS/ГЛОНАСС' && item.val==='Есть')
                //if(this.model.gps===false) return item.specifications.find(item=>item.type==='GPS/ГЛОНАСС' && item.val==='Нет')
             
                else return true
            }).filter(item=>{
                if(this.model.bluetooth) return item.specifications.find(item=>item.type==='Bluetooth' && item.val==='Есть')
                if(this.model.bluetooth===false) return item.specifications.find(item=>item.type==='Bluetooth' && item.val==='Нет')
                else return true
            })
        }
    }
}
</script>

<style lang="scss">
.catalog-filter {
    @include formfieldsetClear;
    
    box-shadow:0 0 0 1em jscolor(light);
    border-radius:jsvar(border-radius-field);
    background-color:jscolor(light);

    .box-controls & {

            box-shadow:none;
            background-color:transparent;
        &__help {
            display:none;
        }
    }
    

    &__help {
        z-index:9;
        &-title {
            cursor:pointer;
        }
        &:hover &-content {
            opacity:1;
            visibility:visible;
        }
        &-content {
            margin-top:1em;
            @include trans();
            opacity:0;
            visibility:hidden;
            position:absolute;
            top:100%;
            right:0;
            box-shadow:jsvar(box-shadow);
            font-size: jspx(13);
            padding:1em;
            border-radius:jsvar(border-radius-field);
            z-index:99;
            background-color:white;
            white-space:nowrap;
            text-align:right;
            
           
        }
    }
    &__help-title {
        font-weight:bold;
   
        border-radius:50%;
        border:1px solid jscolor(border);
        width:2em;
        height:2em;
        display:inline-flex;
        align-items:center;
        justify-content:center;
    }
    &__legend {
        display:grid;
        grid-template-columns:1fr max-content;
        gap:1em;
        position:relative;
        z-index:2;
    }
    &__legend-title {
        font-size: jsfs(h5);
        font-weight: bold;
        color: jscolor(dark);
        margin-bottom: 0.5em;

        @add-mixin h 5 {  }
        
       
    }

    & &__fieldset:not(:last-child) {
        padding-bottom: 1.4em;
        margin-bottom: 1.1em;
        border-bottom: 1px solid jscolor(border);
    }

    &__radio-check + &__radio-check {
        margin-top: 1.1em;
    }
}
</style>
