<template lang="pug">
    v-bem.catalog-nav(tag="nav")
        .title Категории услуг
        ul.list
            li.item(v-for="item in itemList")
                .name
                    my-nuxt-link(:to="route(item)").link {{item.title}}
                    //btn-toggle.arrow(@click.prevent="toggle()", :is-active="isActive")
              
                //ul.sub-list(:class="{open:isActive}")
                    li.sub-item
                        my-nuxt-link(:to="{name:'catalog'}").sub-link Pandora DXL
                    li.sub-item
                        my-nuxt-link(:to="{name:'catalog'}").sub-link Pandora DXL
                    li.sub-item
                        my-nuxt-link(:to="{name:'catalog'}").sub-link Pandora DXL
          

</template>

<script>
import BtnToggle from '@/components/BtnToggle'

export default {
    name: 'CatalogNav',
    components: { BtnToggle },
    //props:['itemList'],
    data() {
        return {
            isActive:false
        }
    },
    computed:{
        itemList() {
            return this.$store.getters['catalog'].filter(item=>!item.hide)
        }
       
       
        /*  asideMenuMainOpen(){
              return this.$store.state.control.asideMenuMain.open
          }*/
    },
    methods:{
        route(category) {
            let params = {

            }
            params.section = category.name
            if(category.level===1) {

                let categoryLevel0 = this.$store.state.stateCategories.find(item=>item.id===category.parent_id)
                params.section = categoryLevel0.name
                params.subsection = category.name
            }
            if(category.level===2) {
                let categoryLevel1 = this.$store.state.stateCategories.find(item=>item.id===category.parent_id)
                let categoryLevel0 = this.$store.state.stateCategories.find(item=>item.id===categoryLevel1.parent_id)
                params.section = categoryLevel0.name
                params.subsection = categoryLevel1.name
                params.category = category.name
            }


            return {name:'catalog',params}
            //return {path:`/tickets/${params.category}/${params.subCategory}/${params.subSubCategory}`}

        },
        toggle(){
            this.isActive = !this.isActive;
          
        }
    }
}
</script>

<style lang="scss">
.catalog-nav {
    background-color: jscolor(info);
    border-radius: jsvar(border-radius);
    overflow: hidden;

   

    @add-mixin point sm-only {
        font-size: .8em;
    }

    &__title {

        padding: jspx(20) jspx(15);
        @add-mixin point sm-after {
            padding: 1em 2em;
        }

        font-size: jsfs(h4);
        color: jscolor(light);
        font-weight: bold;
        background-color: jscolor(accent);

     
    }

    &__list {
        @include listClear;
        padding: jspx(20) jspx(36);
        @add-mixin point sm-only {
            padding: jspx(20) jspx(15);    
        }
    }

    &__sub-list {
        @include listClear;
        @include trans;
    }
    &__sub-list:not(.open) {
        font-size:0;
        opacity:0;
    }
    &__item {
        & + & {
        }

        &:not(:last-child) {
            margin-bottom: 0.8em;
            padding-bottom: 1em;
            border-bottom: 1px solid jscolor(border);
        }
    }

    &__link {
        

        @add-mixin h 5 {  }
        margin-bottom:0;
    }

    &__name {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__sub-item {
        & + & {
            margin-top: 0.8em;
        }
    }
    &__sub-link {
        color: jscolor(dark);
    }
}
</style>
