<template lang="pug">
    .catalog-item(:class="classRoot")
        my-nuxt-link.catalog-item__inner(:to="route")
            img.catalog-item__img(:data-src="$_apiServer(images[0])", :alt="title" class="lazyload" width="200" height="150")
            .catalog-item__name(v-text="title")
            dl.catalog-item__properties(v-if="!brief")
                template(v-for="item in specifications")
                    dt.catalog-item__type {{item.type}}
                    dd.catalog-item__val {{item.val}}

              
            .catalog-item__price-wrap
                strong.catalog-item__price {{price_sale | intcomma}} руб.
                del.catalog-item__price-sale(v-if="price") {{price | intcomma}} руб.
                small(v-if="!brief") Цена с установкой
                small(v-if="isWithInstallation") Цена с установкой
            .catalog-item__btn-wrap(v-if="!brief")
                v-btn(padding="sm" div hidden) Подробнее




</template>

<script>
import VBtn from '@/components/VBtn'
import { intcomma } from '@/filters'
export default {
    name: 'CatalogItem',
    components: { VBtn },
    filters: { intcomma },
    props: {
        isWithInstallation: {
            type: Boolean,
            default: false
        },
        brief: {
            type: Boolean,
            default: false
        },
        large: {
            type: Boolean,
            default: false
        },
        specifications: {
            type: Array,
            default: ()=>[]
        },
        images: {
            type: Array,
            default: ()=>[null]
        },
        data: {
            type: Object,
            default: ()=>({})
        },
        title: {
            type: String,
            default: ''
        },
        price: {
            type: [String,Number],
            default: ''
        },
        price_sale: {
            type: [String,Number],
            default: ''
        },
        id: {
            type: Number,
            default: null
        },
        named_id: {
            type: String,
            default: null
        }
    },
    data() {
        return {}
    },
    computed: {

        classRoot() {
            const list = []
            if (this.large) list.push(`${this.componentName}_large`)
            if (this.brief) list.push(`${this.componentName}_brief`)
            if (this.isWithInstallation) list.push(`${this.componentName}_isWithInstallation`)
            return list.join(' ')
        },
        route(){
            
            let params ={
                category:this.named_id,
              
            }

            return {
                name:'catalogDetail',
                params
            }
        }
    },
    methods:{

    }
}
</script>

<style lang="scss">
.catalog-item {
    
    
    &:not(&_brief) {
        height: jspx(355);   
    }

    $el: '.catalog-item';

    &__inner {
        @include trans;
        @include box-info(light, shadow, border);
        padding: jspx(15);

        display: grid;

        grid-template-rows: auto;
        grid-template-columns: 1fr;
        grid-row-gap: 8px;
        
        &:hover {
            color:inherit;
        }
    }

    &__img {
        max-width:100%;
        width:100%;
        object-fit: contain;
        height: jspx(153);
        justify-self: center;
    }

    &__name {
        @add-mixin h 6 {
        }
        font-size: 1em;
        margin-bottom: 0;

        height: 3em;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    &__name,
    &__price-wrap,
    &__properties {
    }

    &__properties {
        @include trans;
        margin: 0.6em 0;
        font-size: jspx(13);
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 1fr 1fr;
        line-height: 1;
        grid-row-gap: 10px;

        opacity: 1;
        visibility: visible;
    }

    &:not(:hover):not(&_brief) {
        #{$el}__inner {
            box-shadow: none;
        }
        #{$el}__properties {
            position: fixed;
            opacity: 0;
            visibility: hidden;
            margin: 0;
        }
        #{$el}__price {
            font-size: jsfs(main);
        }
    }

    &_brief {
        #{$el}__price {
            font-size: 1em;
        }
    }
    

    &__type {
        font-size: inherit;
    }
    &__val {
        margin-left: 0;

        font-size: inherit;
        color: jscolor(dark);
        text-align: right;
    }

    &__price {
        @include trans;
        color: jscolor(accent);
        display: block;
        font-size: jspx(22);
        &-wrap {
            display: grid;
            line-height: 1.2;
        }

        &-sale{
            text-decoration:none;
        }
    }

    &__btn-wrap {
        justify-self: center;
        margin-top: 5px;
    }

    &_large {
        
        #{$el}__img {
            min-height: jspx(153);
           
            height: 19vw;
            max-height: jspx(336);
        }
        #{$el}__name {
            @add-mixin h 5 {
            }
            margin-bottom:0;


        }
        #{$el}__price-sale {
            text-decoration: line-through;


        }
    }

    &_isWithInstallation {
        #{$el}__price-sale {
            text-decoration: none;


        }
    }
}
</style>
