<template lang="pug">
    .catalog-detail-image
        slider-swiper(v-bind="swiperOptionsMini" ref="swiperMini").catalog-detail-image__mini
                img.catalog-detail-image__mini-img(
                class="lazyload"
                hidden
                :alt="`миниатюра ${index+1}`"
                width="84"
                height="84"
                v-for="(item,index) in itemList",
                :key="index",
                :data-src="item.url",
                @click="setActiveSlide(index)"
                )
        slider-swiper.catalog-detail-image__main(v-bind="swiperOptions" ref="swiperMain")
            img(v-for="(item,index) in itemList", :key="index", :data-src="item.url", :alt="`${item.alt} ${index}`" class="lazyload"  height="390" width="436").catalog-detail-image__main-img
            //nuxt-picture(v-for="(item,index) in itemList", fit="cover" quality="10" height="390" width="436", sizes="sm:100vw md:50vw lg:400px" :key="index", :src="item.url", :alt="`${item.alt} ${index}`").catalog-detail-image__main-img
            //nuxt-img(v-for="(item,index) in itemList", format="webp" width="436" height="390"  sizes="xs:100vw lg:50vw xl:436px" :key="index", :src="item.url", :alt="`${item.alt} ${index}`").catalog-detail-image__main-img
            //nuxt-img(v-for="(item,index) in itemList", loading="lazy" quality="10"  sizes="xs:100vw lg:50vw xl:436px" :key="index+'1'", :src="item.url", :alt="`${item.alt} ${index}`").catalog-detail-image__main-img
            //nuxt-img(v-for="(item,index) in itemList", format="webp" :key="index", :src="item.url", :alt="`${item.alt} ${index}`" height="390" width="436").catalog-detail-image__main-img


</template>

<script>
import SliderSwiper from '@/components/SliderSwiper'

export default {
    name: 'CatalogDetailImage',
    components: { SliderSwiper },
    data() {
        return {}
    },
    computed: {
        content(){
            return this.$store.state.control.pageData.catalogDetail || {}    
        },
        itemList(){
            return this.content?.images?.map(item=>{
                return {url:this.$_apiServer(item),alt:this.content.title}
                
            })  || []


        },

        swiperOptionsMini() {
            return {
                options: {
                    slidesPerView: 6,
                    direction: 'vertical',

                    centeredSlides: true
                },
                prefixClassSwiperControl: this.componentName
            }
        },
        swiperOptions() {
            return {
                options: {},
                prefixClassSwiperControl: this.componentName
            }
        }
    },
    mounted() {
        this.$nextTick(() => {
            const swiperMini = this.$refs.swiperMini.mySwiper
            const swiperMain = this.$refs.swiperMain.mySwiper
           
            swiperMini.controller.control = swiperMain
            swiperMain.controller.control = swiperMini
        })
    },
    methods: {
        setActiveSlide(index) {
            this.$refs.swiperMain.mySwiper.slideTo(index)
        }
    }
}
</script>

<style lang="scss">
.catalog-detail-image {
    display: grid;

    grid-template: 100% 100%/ 83px 1fr;
    grid-column-gap: jsvar(gap);
    align-items: center;
    
    @add-mixin point sm-only {
        grid-template: 100%/ 100% ;  
    }
    
    

    &__main {
    }

    img {
        max-width: 100%;
    }

    &__main-img {
        border-radius: 0;
        box-shadow: none;
        height:auto;
        width:auto;
       
    }

    &__mini {
        
        height: 100%;
        width: 100%;
        @add-mixin point sm-only {
            display:none;
        }

        .slider-swiper__list {
            flex-direction: column;
        }

        .swiper-slide {
            margin: 5px 0;
        }
    }

    &__mini-img {
        display:block;
        @include bgImg;
        object-fit:cover;
        width: 100%;
        height: 64px;

        border-radius: 10px;
        border: 1px solid jscolor(border);
        overflow: hidden;
    }
}
</style>
