<template lang="pug">
    v-bem.catalog-detail-price
        p.col
            strong.price-install(itemprop="price")
                slot(name="price")
                =' '
                span(itemprop="priceCurrency") руб.
            =' '
            
        p.col
            v-btn(block @click="$root.$emit('popup','formRequest2')") Купить товар
        p.col
            strong.price
                slot(name="priceInstall")
                =' '
                | руб.
            =' '
            small Цена с установкой
        p.col
            v-btn( outlined block @click="$root.$emit('popup','formRequest2')") Записаться на установку
</template>

<script>
import VBtn from '@/components/VBtn'

export default {
    name: 'CatalogDetailPrice',
    components: { VBtn },
    data() {
        return {}
    }
}
</script>

<style lang="scss">
.catalog-detail-price {
    padding: indent(xs);
    display: grid;

    grid-column-gap: jsvar(gap);
    grid-row-gap: jsvar(gap-sm);

    grid-template-rows: repeat(2, max-content);
    grid-template-columns: repeat(2, 1fr);

    grid-auto-flow: column;
    @add-mixin point sm-after {
        
        padding: indent(md);
    }

    @add-mixin point xs-only {
        padding:indent(sm) 0 jspx(45);
      
        
       
    }
    
    align-items: center;

    &__col {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    &__price-install {
        font-size: jsfs(h3);
        color: jscolor(accent);
        line-height: 1.2;
    }
    &__price {
        font-size: jsfs(h5);
        color: jscolor(dark);
        line-height: 1.2;
    }
}
</style>
