<template lang="pug">
    section.catalog-detail(itemscope itemtype="http://schema.org/Product")
        v-container
            .catalog-detail__box
                .catalog-detail__header
                    .catalog-detail__title-wrap
                        h1.catalog-detail__title(itemprop="name") {{content.title}}
                    catalog-detail-mark.catalog-detail__mark


                catalog-detail-image
                .catalog-detail__price
                    catalog-detail-price
                        template(v-slot:priceInstall) {{content.price | intcomma}}
                        template(v-slot:price) {{content.price_sale | intcomma}}
                .catalog-detail__info
                    v-tabs
                        span(slot="name") Описание
                        span(slot="name") Характеристики
                        span(slot="name") Вопросы и отзывы
                        .catalog-detail__descr(slot="content")
                            text-html(itemprop="description" :html="content.description")
                            //text-html(v-html="content.description")
                                p Система снята с производства. На смену пришла модель Pandect X-1900 bt 3g
                                p Реализация функции автозапуска от 2500 р. Pandect X-1900 3G — это новинка из серии Pandect X, сохранившая лучшие черты линейки в целом (такие, как компактный размер и энергоэффективность), но добавившая к ним несколько значимых функциональных особенностей:
                                p #[strong Система резервного питания]. В случае отключения основного аккумулятора ваш автомобиль не останется без охраны: работа режима охраны будет поддерживаться системой аварийного питания с интеллектуальной системой заряда. Кроме того, вы получите тревожное уведомление по всем каналам связи....

                                p Система снята с производства. На смену пришла модель Pandect X-1900 bt 3g
                                p Реализация функции автозапуска от 2500 р. Pandect X-1900 3G — это новинка из серии Pandect X, сохранившая лучшие черты линейки в целом (такие, как компактный размер и энергоэффективность), но добавившая к ним несколько значимых функциональных особенностей:
                                p #[strong Система резервного питания]. В случае отключения основного аккумулятора ваш автомобиль не останется без охраны: работа режима охраны будет поддерживаться системой аварийного питания с интеллектуальной системой заряда. Кроме того, вы получите тревожное уведомление по всем каналам связи....
                            catalog-detail-utp-list
                        div(slot="content")
                            dl(v-for="item in specifications").catalog-detail__properties
                                dt.catalog-detail__type {{item.type}}
                                dd.catalog-detail__val {{item.val}}
                        .catalog-detail__reviews(slot="content")
                            transition(name="slide-fade")
                                reviews-form(v-if="reviewsFormShow")
                            
                            v-btn.form-show(link href="#" v-if="!reviewsFormShow" @click.prevent="reviewsFormShow=1" hidden).catalog-detail__reviews-btn Задать вопрос 
                            message-list(:item-list="reviewsList")





</template>

<script>

    import { intcomma } from '@/filters'
import CatalogDetailMark from '@/components/CatalogDetailMark'
import VTabs from '@/components/VTabs'
import TextHtml from '@/components/TextHtml'
import MessageList from '@/components/MessageList'
import ReviewsForm from '@/components/ReviewsForm'
import CatalogDetailPrice from '@/components/CatalogDetailPrice'
import CatalogDetailImage from '@/components/CatalogDetailImage'
import CatalogDetailUtpList from '@/components/CatalogDetailUtpList'
import VBtn from "@/components/VBtn";

export default {
    name: 'CatalogDetail',
    filters: { intcomma },
    components: {
        VBtn,
        CatalogDetailUtpList,
        CatalogDetailImage,
        MessageList,
        TextHtml,
        VTabs,
        CatalogDetailMark,
        ReviewsForm,
        CatalogDetailPrice
    },
   
    
    computed:{
        reviewsList(){
            return this.contentData.reviewsList || []    
        },
        specifications(){
            return this.content?.specifications || []
        },
        content(){

            return this.$store.state.control.pageData.catalogDetail || {}


        },
        contentData(){

            return this.$store.state.control.pageData.catalogDetail?.data || {}


        },


    },
    data() {
        return {
            reviewsFormShow:1
        }
    }
}
</script>

<style lang="scss">
.catalog-detail {
    &__box {
       
       

     

        @add-mixin point xs-after {
            @include box-info(light, shadow, border);
            padding: 0;
           

            display: grid;
            grid-template-areas:
                'header header'
                'image info'
                'price info';
            grid-template-columns: repeat(2, 50%);
            grid-template-rows:minmax(jspx(172), max-content) repeat(2, minmax(auto, 1fr));
            height: 866px;
        }
    }

    &__header {
        grid-area: header;
        border-bottom: 1px solid jscolor(border);
       

        @add-mixin point xs-after {
            display: flex;
        }
        align-items: center;

        justify-content: space-between;

       

        @add-mixin point sm-after {
            min-height: jspx(172);
        }

        &:after {
            content: '';
            min-height: inherit;
            font-size: 0;
        }
    }

    .catalog-detail-image {
        grid-area: image;

        padding: indent(sm);
        height: 450px;
    }
    &__price {
        border-top: 1px solid jscolor(border);
        grid-area: price;
        display: grid;


       
    }

    &__title-wrap {
        padding: indent(xs);
        
        
        @add-mixin point sm-after {
            padding: indent(md);    
        }

        @add-mixin point xs-only {
            padding: indent(xs) 0 0;
        }
    }

    &__title {
        @add-mixin h 1;
        margin: 0;

        @add-mixin point xs-only {
            @add-mixin h 5;
        }
    }

    &__mark {
        //margin-right:indent(md,-1);
        margin-left:auto;

        margin-bottom:1em;

        @add-mixin point xs-after {
            border-top-left-radius: 5em;
            border-bottom-left-radius: 5em;
            text-align: right;
            margin-bottom:0;
        }
    }
    &__reviews {
        position: relative;

        @add-mixin point xs-after {
            display: flex;
            flex-direction: column;
            height: 100%;
            overflow-y: auto;
            padding-right: indent(sm);
        }
        
        &-btn {
            position:absolute;
            display:inline-block;
            right:0;
            margin-right: indent(sm);
            color:jscolor(accent);
        }
        .reviews-form {
            margin-bottom:indent(sm);
        }
    }
    &__descr {

        display:grid;
        gap:indent(sm);
        grid-template-rows:1fr min-content;
        height: 100%;
        @add-mixin point xs-after {
            
            
          
            
            .text-html {
                overflow-y: auto;
                padding-right: indent(sm);

                height: 100%;
            }
        }

       

        .catalog-detail-utp-list {
           // margin-top: indent(sm);
        }

        /*  margin-bottom: 14em;
            .catalog-detail-utp-list {
                position:absolute;
                bottom:indent(md);
                margin-bottom:0;
                left:0;
                right:0;
            }*/
    }

    &__info {
        grid-area: info;
      
      

        @add-mixin point xs-after {
            border-left: 1px solid jscolor(border);
            overflow:hidden;
        }
    }

    .v-tabs {
        margin-top: -1px;
        margin-left: -1px;
        height: 100%;
        &__content {
            min-height: 0;
            display: flex;
            position: relative;
            height: 100%;
        }
        &__content-item {
            height: auto;
            width:100%;
        }
    }

    .text-html {
        color: jscolor(dark);
    }


    &__properties {
        @include trans;
        margin: 0.6em 0;
      
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 1fr 1fr;
        line-height: 1;
        grid-row-gap: 10px;

        opacity: 1;
        visibility: visible;
    }
    &__type {
        font-size: inherit;
    }
    &__val {
        margin-left: 0;

        font-size: inherit;
        color: jscolor(dark);
        text-align: right;
    }

    
}
</style>
