<template lang="pug">
    .circle-pulse
        .circle-pulse__decor1
        .circle-pulse__decor2

</template>

<script>
export default {
    name: "circle-pulse",
    data() {
        return {}
    },
}
</script>

<style lang="scss">
    .circle-pulse{

        opacity:.5;

        &__decor1,
        &__decor2,
        &__decor3
        {
            &:before, &:after {
                border: 1px solid jscolor(light);
                content: "";
                width: 100%;
                display: block;
                position: absolute;
                height: auto;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                border-radius: 100%;
                transform-origin: center center;
                opacity: 0;
                box-sizing: border-box;
            }





        }

        &__decor1{
            &:before {
                animation: 2s .1s  pulse1 infinite linear;
            }

            &::after {
                animation: 2s pulse12 infinite linear;
            }
            @keyframes pulse1 {

                0% {
                    transform: scale(2);
                    opacity: .7;
                }
                100% {
                    transform: scale(2.5);
                    opacity: 0;
                }
            }

            // inner circle
            @keyframes pulse12 {
                0% {
                    transform: scale(3);
                    opacity: .5;
                }
                100% {
                    transform: scale(3.5);
                    opacity: 0;
                }
            }
        }
        &__decor2{
            &:before {
                animation: 3s .1s  pulse2 infinite linear;
            }

            &::after {
                animation: 3s pulse22 infinite linear;
            }
            @keyframes pulse2 {

                0% {
                    transform: scale(4);
                    opacity: .3;
                }
                100% {
                    transform: scale(4.5);
                    opacity: 0;
                }
            }

            // inner circle
            @keyframes pulse22 {
                0% {
                    transform: scale(5);
                    opacity: .1;
                }
                100% {
                    transform: scale(5.5);
                    opacity: 0;
                }
            }
        }

        &__decor3{
            &:before {
                animation: 4s .1s  pulse3 infinite linear;
            }

            &::after {
                animation: 4s pulse32 infinite linear;
            }
            @keyframes pulse3 {

                0% {
                    transform: scale(6);
                    opacity: .5;
                }
                100% {
                    transform: scale(6.5);
                    opacity: 0;
                }
            }

            // inner circle
            @keyframes pulse32 {
                0% {
                    transform: scale(7);
                    opacity: .2;
                }
                100% {
                    transform: scale(7.5);
                    opacity: 0;
                }
            }
        }



    }
</style>
