<template lang="pug">
    .contacts-address-item
        .contacts-address-item__title
            slot(name="title")
        .contacts-address-item__content
            .contacts-address-item__row
                .contacts-address-item__icon
                    icon-address
                .contacts-address-item__text
                    slot(name="address")
            .contacts-address-item__row
                .contacts-address-item__icon
                    icon-time
                .contacts-address-item__text
                    slot(name="time")
</template>

<script>
import iconAddress from '@/assets/icons/address.svg'
import iconTime from '@/assets/icons/time.svg'
export default {
    name: 'ContactsAddressItem',
    components: {
        iconAddress,
        iconTime
    },
    data() {
        return {}
    }
}
</script>

<style lang="scss">
.contacts-address-item {
    
    
    
    border: 1px solid jscolor(border);
    border-radius:0 0 jsvar(border-radius) jsvar(border-radius) ;
    
   
    padding: 33px 40px 40px;


    @add-mixin point sm-only {
        padding:1em;
    }
  
   

    &__title {
        @add-mixin h 5;
        text-transform:none;
    }
    &__content {
        display: grid;
        grid-row-gap: 10px;
       
    }
    &__row {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-column-gap: 13px;
        align-items: center;
    }
    &__icon {
        display: flex;
    }
}
</style>
