<template lang="pug">
    section.contacts-subs
        .contacts-subs__text-wrap
            .contacts-subs__title Подписывайтесь на наш блог и соц.сети
            .contacts-subs__text и следите за новинками
        v-social
</template>

<script>
import VSocial from '@/components/VSocial'

export default {
    name: 'ContactsSubs',
    components: { VSocial },
    data() {
        return {}
    }
}
</script>

<style lang="scss">
.contacts-subs {
    @include box-info();
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(260px,1fr));
    grid-gap:jsvar(gap);
    align-items: center;
    padding: 47px 88px;

    @add-mixin point sm-only {

        padding:1em;
    }
    
    
    
    &__title {
        @add-mixin h 3;
        text-transform:uppercase;
        margin-bottom:0;
    }
    &__text {
        font-size: 18px;
        color: #7c99ba;
    }
    
    .v-social {
        @add-mixin point xs-after {

            font-size: 1.8em;
            &__item {
                padding: 0 0.4em;
            }
        }
        
       
    }
}
</style>
