<template lang="pug">
    v-bem.message-list(tag="ul")
        //li(v-for="(item,index) in $slots.item", :key="index+'item'",)
            v-node(:node="item")
        li(v-for="(item,index) in itemList", :key="index+'item'")
            message-item(:isAdmin="item.isAdmin")
                template(v-slot:name) {{item.clientName}}
                template(v-slot:date) {{item.date | dateFormat}}
                template(v-slot:text) {{item.clientText}}
            message-item(:isAdmin="true")
                template(v-slot:name) Администрация
                template(v-slot:date) {{item.date | dateFormat}}
                template(v-slot:text) {{item.adminText}}
     
</template>

<script>
import VNode from '@/components/VNode'
import MessageItem from '@/components/MessageItem'


import {format,addMonths,parse} from 'date-fns'

export default {
    name: 'MessageList',
    components: {
        MessageItem,
        VNode
    },
    filters:{
        dateFormat(value){
            if (value) return format(value,'dd.MM.yy')
        }
    },
    data() {
        return {}
    },
    props:{
        itemList:{
            type:Array,
            default:()=>({})
        }
    },
    computed: {
       
    }
}
</script>

<style lang="scss">
.message-list {
    @include listClear();
    &__li + &__li,.message-item+.message-item {
        margin-top: indent(xs);
    }
}
</style>
