<template lang="pug">
    a(:href="`tel:${value}`").phone-link {{value}}
</template>

<script>
export default {
    name: 'PhoneLink',
    props: {
        light: {
            type: Boolean,
            default: false
        }
    },
    data() {
        return {
            value: '+7 (499) 397-72-70'
        }
    }
}
</script>

<style lang="scss">
.phone-link {
    @include fontFamilySecondary;
    font-weight: bold;
    text-decoration: none;
    color: jscolor(dark);
    font-size: jsfs(h5);
}
</style>
