<template lang="pug">

    v-bem.popup-form-request(@submit.prevent="submit" tag="form")

        fieldset(v-if="!isSend")
            legend: slot(name="legend") Не можете подобрать подходящее оборудование?
            p.title: slot(name="title") Оставьте заявку - мы поможем
            ul
                li
                    v-field(isSend
                        placeholder="Ваше имя:"
                        name="name"

                        v-model="model.name",
                    )
                li
                    v-field(
                        placeholder="Телефон:"
                        name="tel"
                        type="tel"
                        v-model="model.phone",
                        v-validate="'required'",
                    )

                li
                    v-field(
                        placeholder="E-mail:"
                        name="email"
                        v-validate="'email'",
                        v-model="model.email",
                    )
                li

                    v-btn(type="submit" block) Отправить заявку
        .is-send(v-else)
            p.thanks Спасибо!
            p.title Ваша заявка принята. #[br] Наш специалист скоро #[br] с вами свяжется
            p Мы в соц. сетях и мессенджерах
            v-social

</template>

<script>
import VField from '@/components/VField'
import VBtn from '@/components/VBtn'
import VSocial from '@/components/VSocial'




import requestForm from '@/mixins/requestForm'

export default {
    name: 'PopupFormRequest',
    mixins:[requestForm],
    components: {
        VSocial,
        VBtn,
        VField
    },

 
}
</script>

<style lang="scss">
.popup-form-request {
    width:100%;
    overflow:hidden;
    @add-mixin point xs-after {
        width: jspx(387);
    }
        
    text-align: left;

    @include formfieldsetClear;

    &__title {
        @add-mixin h 3;
    }

    &__legend {
        font-size: jsfs(main);
        color: jscolor(dark);
        margin-bottom: 1em;
    }
    &__ul {
        @include listClear;
    }
    &__li {
        & + & {
            margin-top: jspx(20);
        }
    }

    &__is-send {
        color: jscolor(dark);
        text-align: left;
    }
    &__thanks {
        margin-bottom: 0.5em;
    }
    &__v-social {
        margin-top: jspx(15);
        justify-content: flex-start;
        font-size: 1.5em;
        margin-bottom: 5px;
    }
}
</style>
