<template lang="pug">

    label.radio-check(:class="classObject")
        input(
            v-bind="getInputOptions",
            v-on="inputListeners",
        ).radio-check__input
        span.radio-check__text-wrap
            .radio-check__check
            span.radio-check__text

                span(v-html="text")
                slot

</template>

<script>
export default {
    inject: ['$validator'],
    inheritAttrs: false,
    model: {
        prop: 'modelValue',
        event: 'change'
    },
    props: {
        /*     textTrue:null,
            textFalse:null, */
        text: {
            type: String,
            required: false,
            default: ''
        },
        value: {
            required: false,
            default: 1
        },
        name: {
            type: String,
            required: true
        },
        type: {
            type: String,
            required: false,
            default: 'checkbox'
        },
        disabled: {
            required: false,
            default: false
        },
        checked: {
            required: false,
            default: false
        },
        modelValue: {
            default: ''
        },
        trueValue: {
            type: Number,
            default: 1
        },
        falseValue: {
            type: Number,
            default: 0
        }
    },

    computed: {
        classObject() {
            const parentClass = 'radio-check'
            const obj = {}
            obj[`${parentClass}_disabled`] = !!(
                this.disabled === '' || this.disabled
            )
            obj[`${parentClass}_error`] = this.errors.has(this.name)
            obj[`${parentClass}_checked`] = this.getChecked

            obj[`${parentClass}_${this.type}`] = !!this.type

            return obj
        },
        getChecked() {
            if (this.type === 'radio') return this.modelValue == this.value

            if (this.type === 'checkbox') {
                if (Array.isArray(this.modelValue)) {
                    return this.modelValue.includes(this.value)
                } else {
                    return this.modelValue == this.trueValue
                }
            }
            return false
        },
        getInputOptions() {
            // console.log(checked);
            const obj = {
                trueValue: this.trueValue,
                falseValue: this.falseValue,
                disabled: !!this.disabled,
                type: this.type,
                checked: this.getChecked,
                value: this.value,
                name: this.name
            }

            return Object.assign({}, this.$attrs, obj)
        },
        inputListeners() {
            const vm = this
            return Object.assign({}, this.$listeners, {
                change(event) {
                    if (vm.type == 'radio') {
                        return vm.$emit('change', vm.value)
                    }

                    if (Array.isArray(vm.modelValue)) {
                        const newValue = [...vm.modelValue]

                        if (event.target.checked) {
                            newValue.push(vm.value)
                        } else {
                            newValue.splice(newValue.indexOf(vm.value), 1)
                        }

                        vm.$emit('change', newValue)
                    } else {
                        vm.$emit(
                            'change',
                            event.target.checked ? vm.trueValue : vm.falseValue
                        )
                    }

                    /*  if(event.target.checked) vm.$emit('change', vm.value) // На сервере строгая типизация
                            else vm.$emit('change', null) */
                }
            })
        }
    }
}
</script>

<style lang="scss">
.radio-check {
    $self: &;
    $sz: jspx(24);
    $color_border: jscolor(border);

    $color_checked: jscolor(accent);
    $color_text: jscolor(dark);

    display: block;

    cursor: pointer;

    &_disabled {
        cursor: default;
    }
    //&_checked &__check {transform:scale(1);}
    &__input {
        @include visuallyhidden;

        &:checked ~ #{$self}__text-wrap {
            #{$self}__check {
                transform: scale(1);
            }
        }
        &:disabled ~ #{$self}__text-wrap {
            opacity: 0.7;
        }
    }
    &__text:not(:empty) {
        margin-left: jspx(10);
    }

    &__text {
        font-size: jsfs(h5);
        color: $color_text;
    }

    &__text-wrap {
        position: relative;
        display: flex;
        align-items: center;
        min-width: 0;

        &::before {
            content: '';
            display: block;
            width: $sz;
            height: $sz;
            border: 1px solid $color_border;
            border-radius: 50%;
            flex: 0 0 auto;
        }

        &::after {
            content: '';
            display: block;
        }
    }
    &__check {
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -5px;
        margin-left: 0.45em;
        transform: scale(0);
        @include trans;

        background-color: $color_checked;
        border-radius: 50%;

        width: 10px;
        height: 10px;
    }
}
</style>
