<template lang="pug">
    .reviews-box
        h3.reviews-box__title Отзывы клиентов
        slider-swiper(:prefix-class-swiper-control="componentName")
            .reviews-box__item
                .reviews-box__header
                    .reviews-box__name Антон У

                    .reviews-box__label Отзыв на установку противоугонного комплекса
                text-html
                    p Устанавливал сигнализацию Pandora с автозапуском и замками на капот, все сделали очень качественно, все понравилось. Мастер сделал все, чтобы защитить машину от угона Mazda 6.

            .reviews-box__item
                .reviews-box__header
                    .reviews-box__name Антон К
                    .reviews-box__label Отзыв на установку сигнализации с автозапуском
                text-html
                    p Сервис знаю не от одного человека, так что ехал смело делать не сомневаясь за качество. Поставил на octavia a5 pandect x-1800bt. Установка прошла в течении часов 8. В подарок на зажигание кинули видеорегистратор, соответственно спрятав все как нужно. Сигнализация работает как часы. Сервис рекомендую.

            .reviews-box__item
                .reviews-box__header
                    .reviews-box__name Максим П
                    .reviews-box__label Отзыв на установку противоугонного комплекса
                text-html
                    p У меня Jaguar XF , нужно было поставить охранный комплекс и автозапуск. Многие предлагали либо не совсем то, что я хотел, либо говорили, что не сталкивались с таким авто и не могут ответить получится реализовать автозапуск или нет. При звонке консультация была исчерпывающая. Я присутствовал при всём процессе внедрения комплекса. Ещё раз огромное спасибо, в частности Виталию!

            .reviews-box__item
                .reviews-box__header
                    .reviews-box__name Сергей О
                    .reviews-box__label Отзыв на установку сигнализации с автозапуском
                text-html
                    p Подобрали нужную сигнализацию, объяснили, как ей пользоваться. Цена на услуги адекватная. Мы платим не только за сигнализацию и её опции, но и за наше спокойствие, что машина не заорёт от глюка и она будет стоять там где ее оставили. На всех моих автомобилях стоят сигнализации которые установил Виталий. А потом и у моих друзей, которым я посоветовал обратиться к нему! Всё! Всем спасибо, спите спокойно!)

            .reviews-box__item
                .reviews-box__header
                    .reviews-box__name Артем К
                    .reviews-box__label Отзыв на установку сигнализации с автозапуском
                text-html
                    p Отличные специалисты! Ставил у них автозапуск на свою бмв е53, работает все супер, даже бонусом сделали дистанционное включение подогрева сидений!
            .reviews-box__item
                .reviews-box__header
                    .reviews-box__name Николай В
                    .reviews-box__label Отзыв на установку противоугонного комплекса.
                text-html
                    p Ребята профи своего дела, подобрали оптимальный вариант защиты в моем бюджете. Все сделали качественно, рекомендую.
        slider-swiper-control(:class-prefix="componentName")


</template>

<script>
import TextHtml from '@/components/TextHtml'
import SliderSwiper from '@/components/SliderSwiper'
import SliderSwiperControl from '@/components/SliderSwiperControl'

export default {
    name: 'ReviewsBox',
    components: {
        SliderSwiperControl,
        SliderSwiper,
        TextHtml
    },
    data() {
        return {}
    }
}
</script>

<style lang="scss">
.reviews-box {
    .slider-swiper {
        
    }

    padding: indent(md);
    @include box-info(light, shadow);
    &__title {
        position: relative;
        &::before {
            content: '“';
            color: jscolor(infodarken);
            position: absolute;
            left: 0;
            top: 0;
            transform: translateY(-48%);
            font-size: 5.5em;
            line-height: 1;
        }
        @add-mixin h 1;
        @include hdecor;
    }
    &__header {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__name {
        @add-mixin h 5;
        padding-right: 15px;
    }
}
</style>
