<template lang="pug">
    ul.reviews-stats
        li.reviews-stats__item
            .reviews-stats__wrap
                icons-1.reviews-stats__icons
                strong.reviews-stats__numb 4 814

            .reviews-stats__text Довольных клиентов
        li.reviews-stats__item
            .reviews-stats__wrap
                icons-2.reviews-stats__icons
                strong.reviews-stats__numb 10
            .reviews-stats__text Лет успешной работы
        li.reviews-stats__item
            .reviews-stats__wrap
                icons-3.reviews-stats__icons
                strong.reviews-stats__numb 7
            .reviews-stats__text Дней в неделю


</template>

<script>
import icons1 from '@/assets/icons/reviews-stats/reviews-stats1.svg'
import icons2 from '@/assets/icons/reviews-stats/reviews-stats2.svg'
import icons3 from '@/assets/icons/reviews-stats/reviews-stats3.svg'
export default {
    name: 'ReviewsStats',
    components: {
        icons1,
        icons2,
        icons3
    },
    data() {
        return {}
    }
}
</script>

<style lang="scss">
.reviews-stats {
    @add-mixin h 5;
    @include listClear;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__item {
        padding: indent(xs) 0;
    }

    &__wrap {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    &__icons {
        margin: 1em;
    }

    &__numb {
        order: -1;
        font-size: 80px;
        line-height: 1;
        color: jscolor(infodarken);
    }
    &__text {
        padding-top: 0.5em;
        //width:50%;
    }

    &__space {
        flex-grow: 1;
    }

    &__numb {
    }
}
</style>
