<template lang="pug">

    v-bem.reviews-form(@submit.prevent="submit" tag="form")

        fieldset(v-if="!isSend")
            legend.title Напишите свой отзыв
            ul
                li
                    v-field(
                        placeholder="Ваше имя:"
                        name="name"
                        v-model="model.name",
                    )

                li
                    v-field(
                        placeholder="E-mail:"
                        name="email"
                        v-validate="'required|email'",
                        v-model="model.email",
                    )
                li
                    v-field(
                        type="textarea"
                        placeholder="Ваш отзыв:"
                        name="textarea"
                        v-validate="'required'",
                        v-model="model.message",
                    )
                li

                    v-btn(type="submit") Отправить отзыв
        .is-send(v-else)
            p.thanks Спасибо!
            p.title Ваша обращение отправлено.
            p Мы в соц. сетях и мессенджерах
            v-social

</template>

<script>
import VField from '@/components/VField'
import VBtn from '@/components/VBtn'
import VSocial from '@/components/VSocial'


import requestForm from '@/mixins/requestForm'

export default {
    components: {
        VSocial,
        VBtn,
        VField
    },
    mixins:[requestForm],

}
</script>

<style lang="scss">
.reviews-form {
    text-align: left;

    @include formfieldsetClear;

    &__title {
        @add-mixin h 5;
    }

    &__legend {
        font-size: jsfs(main);
        color: jscolor(dark);
        margin-bottom: 1em;
    }
    &__ul {
        @include listClear;
    }
    &__li {
        & + & {
            margin-top: jspx(20);
        }
    }

    &__is-send {
        color: jscolor(dark);
        text-align: left;
    }
    &__thanks {
        margin-bottom: 0.5em;
    }
    &__v-social {
        margin-top: jspx(15);
        justify-content: flex-start;
        font-size: 1.5em;
    }

    .v-field__input {
        background-color: jscolor(info);
    }
}
</style>
