<template lang="pug">
    section.section-catalog-list-more(v-if="itemList.length")
        v-container
            h2.section-catalog-list-more__title Посмотрите также
            ul.section-catalog-list-more__list

                li.section-catalog-list-more__item(v-for="(item,index) in itemList", :key="index")
                    article.section-catalog-list-more__article
                        catalog-item(v-bind="item" large)

</template>

<script>
import CatalogItem from '@/components/CatalogItem'
import VBtn from '@/components/VBtn'


export default {

    components: {

        VBtn,
        CatalogItem
    },
    data() {
        return {

        }
    },
    computed:{
        itemList(){
            return this.$store.state.control.pageData?.catalogDetailListMore?.map(item=>{
                item.brief=true;
                item.isWithInstallation=true;
                return  item
            }) || []
        },

    },
}
</script>

<style lang="scss">
.section-catalog-list-more {
    margin:indent(xlg) 0;

    &__title {
        @add-mixin h 1;
        @include hdecor(center);
        text-align: center;
    }

    &__list {
        grid-area: list;

        display: grid;
        //grid-template-columns: repeat(auto-fit, minmax(240px,264px));
        grid-template-columns: repeat(auto-fit, minmax(240px,1fr));
        grid-template-rows: auto;

        justify-content: center;
        align-items: center;
        align-content: center;

        grid-gap:30px;

        @include listClear;
        
        @add-mixin point sm-only {
            grid-template-columns: repeat(auto-fit, minmax(240px,264px));
        }
    }
    
    &__item {
        max-width:595px;
    }

    &__item:hover {
        z-index: 1;
    }




}
</style>
