<template lang="pug">
    section.section-catalog-detail-main(@click="$root.$emit('popup','formRequest')")
        v-container
            .section-catalog-detail-main__row
                phone-title
                    circle-pulse(slot="decor").section-catalog-detail-main__decor-left
                phone-timetable
                    circle-pulse(slot="decor").section-catalog-detail-main__decor-right



</template>

<script>
import TextHtml from '@/components/TextHtml.vue'
import PhoneTitle from '@/components/PhoneTitle'
import PhoneTimetable from '@/components/PhoneTimetable'
import CirclePulse from "@/components/CirclePulse";

export default {
    components: {
        CirclePulse,
        PhoneTimetable,
        PhoneTitle,
        TextHtml
    },
    data() {
        return {}
    }
}
</script>

<style lang="scss">
.section-catalog-detail-main {
    background-color: jscolor(accentdark);
    cursor:pointer;

    .v-container {
    }

    &__row {
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: minmax(300px, 8fr) minmax(270px, 4fr);
        padding: 4em 0 4em;
        grid-column-gap: jsvar(gap);

        @add-mixin point xs-only {
            grid-auto-flow: column;
        }
    }

    .phone-title {
        max-width: 611px;
        //grid-column:1 / 7;


    }

    .phone-timetable {
        //justify-self: center;
        //grid-column:8 / -1;
    }

    &__decor-left{
        position:absolute;
        @include abs-stretch;
        bottom:auto;
        padding-top: 100%;
    }

    &__decor-right {
        position:absolute;
        left:50%;
        top:50%;
        transform:translate(-50%,-50%);

        width:jspx(76);
        height:jspx(76);
    }


}
</style>
