<template lang="pug">
    div.section-decor-wrap-parent(:class="classRoot")
        .section-decor-wrap__content
            slot
        .section-decor-wrap

            .section-decor-wrap__dop(v-if="pageName")
</template>

<script>
export default {
    name: 'SectionDecorWrap',
    props: {
        pageName: {
            type: String,
            default: 'header'
        },

        name: {
            type: String,
            default: 'header'
        }
    },
    data() {
        return {}
    },
    computed: {
        classRoot() {
            const list = []
            if (this.name) list.push(`${this.componentName}_${this.name}`)
            if (this.pageName)
                list.push(`${this.componentName}_${this.pageName}`)
            return list.join(' ')
        }
    }
}
</script>

<style lang="scss">
.section-decor-wrap {
    overflow: hidden;

    
    $el:'.section-decor-wrap';


    @include abs-stretch;


    &-parent {
        position:relative;

    }

    &__content {
        position:relative;
        z-index:2;
    }

    @add-mixin point xs-after {
        &_header {
            &::before {
                @include decor-circle();
                top: 0;
                right: 0;
                height: 70vw;
                width: 70vw;
                margin-top: -23vw;
                margin-right: -37vw;
            }

            &::after {
                @include decor-circle();
                bottom: 0;
                left: 0;
                height: 682px;
                width: 682px;
                margin-bottom: -343px;
                margin-left: -345px;
            }
        }
        &_index-footer {
            padding-bottom: indent(lg);

            &::before {
                @include decor-circle();
                top: 0;
                left: 0;
                height: 50vw;
                width: 50vw;
                margin-top: -31vw;
                margin-left: -21vw;
                background: linear-gradient(
                    145.71deg,
                    #bfcedf 1.94%,
                    rgba(191, 206, 223, 0.17) 84%
                );
            }

            &::after {
                @include decor-circle();
                z-index: -2;
                bottom: 0;
                right: 0;
                left: auto;
                height: 70vw;
                width: 70vw;
                margin-bottom: -23vw;
                margin-right: -37vw;

                background: linear-gradient(
                    145.71deg,
                    #bfcedf 1.94%,
                    rgba(191, 206, 223, 0.17) 84%
                );
            }
        }
        $this: &;
        &_header#{$this}_page-catalog {
            &::before {
                top: 50%;
            }
        }
        &_index-footer#{$this}_page-catalog &__dop {
            &::after {
                @include decor-circle();
                bottom: 0;
                right: 0;
                height: 35vw;
                width: 35vw;
                margin-bottom: -17vw;
                margin-right: -2vw;
            }
        }


        &_page-catalog-detail {
            padding-bottom: indent(lg);

            &::before {
                @include decor-circle();
                top: 0;
                left: 0;
                height: 50vw;
                width: 50vw;
                margin-top: -50vw;
                margin-left: -21vw;

            }

            &::after {
                @include decor-circle();
                z-index: -2;
                bottom: 0;
                right: 0;
                height: 70vw;
                width: 70vw;
                margin-bottom: 27vw;
                margin-right: -23vw;

                background: linear-gradient(
                        145.71deg,
                        #bfcedf 1.94%,
                        rgba(191, 206, 223, 0.17) 84%
                );
            }
        }

        &_footer#{$this}_page-catalog-price{
            padding-bottom: indent(lg);

            &::after {
                @include decor-circle();
                z-index: -2;
                bottom: 0;
                right: 0;
                left: auto;
                height: 70vw;
                width: 70vw;
                margin-bottom: -23vw;
                margin-right: -37vw;

                background: linear-gradient(
                        145.71deg,
                        #bfcedf 1.94%,
                        rgba(191, 206, 223, 0.17) 84%
                );
            }
            
            #{$el}__dop {
                &::after {
                    @include decor-circle();
                    bottom: 0;
                    right: 0;
                    height: 35vw;
                    width: 35vw;
                    margin-bottom: -17vw;
                    margin-right: -2vw;
                }
            }    
        }

        &_header#{$this}_page-catalog-price{
            &::before {
                @include decor-circle();
                z-index: -2;
                bottom: 0;
                right: 0;
                left: auto;
                top: 0;
                height: 37vw;
                width: 37vw;
                margin-top: 42vw;
                margin-right: -24vw;

               
            }

            &::after {
                @include decor-circle();
                z-index: -2;
                left: 0;
                top: 0;
                height: 15vw;
                width: 15vw;
                margin-top: 98.5vw;
                margin-left: -9vw;


            }

            #{$el}__dop {
                &::after {
                    @include decor-circle();
                    z-index: -2;
                    bottom: 0;
                    right: 0;
                    left: auto;
                    top: 0;
                    height: 28vw;
                    width: 28vw;
                    margin-top: 129vw;
                    margin-right: -19vw;
                }

                &::before {
                    @include decor-circle();
                    z-index: -2;
                    left: 0;
                    top: 0;
                    height: 15vw;
                    width: 15vw;
                    margin-top: 193.5vw;
                    margin-left: -9vw;


                }
            }
        }
    }
}
</style>
