<template lang="pug">

        v-bem.section-catalog-reason-item
            .numb-wrap
                .numb
                    slot(name="numb")
            div.name
                slot(name="title")
            div.text
                slot(name="text")


</template>

<script>
export default {
    data() {
        return {}
    }
}
</script>

<style lang="scss">
.section-catalog-reason-item {
    display: grid;
    grid-template:
        'numb name' auto
        'numb text' auto;

    grid-column-gap: 20px;
    justify-content: flex-start;

    &__name,
    &__numb {
        font-size: jsfs(h3);
        color: jscolor(accent);
        font-weight: bold;
        margin: 0;
    }

    &__numb {
        line-height: 1;
    }

    &__name {
        grid-area: name;
    }

    &__numb-wrap {
        font-size: 1.7em;
        grid-area: numb;
    }

    &__text {
        grid-area: text;
        margin-bottom: 0;

        max-width: 320px;
        color: jscolor(dark);
        font-size: jsfs(h6);
    }
}
</style>
