<template lang="pug">
    section.section-tabs-text
        v-container
            v-tabs(header-theme-border)
                template(slot="name" v-for="item in content" v-if="item.name") {{item.name}}
                template(slot="nameLabel" v-for="item in content") {{item.nameLabel}}
                text-html(slot="content" v-for="(item,index) in content", :key="index" :html="item.content")
      
               


</template>

<script>
import VTabs from "@/components/VTabs";
import TextHtml from "@/components/TextHtml";

export default {
    components: {
        TextHtml,
        VTabs},
    name: "section-tabs-text", 
    data() {
        return {}
    },
    computed:{
        content(){
            return this.$store.state.control.pageData.catalog?.data?.catalogTabTextList;


        },

    },
}
</script>

<style lang="scss">
    .section-tabs-text{
        
        .text-html {
            color:jscolor(dark);
            font-size:20px;
        }
        
    }
</style>
