<template lang="pug">
    section.section-catalog-list
        v-container
            h2.section-catalog-list__title(v-if="title") {{title}}
            .section-catalog-list__row
                .section-catalog-list__nav
                    catalog-nav(:itemList="navList")
              
                    .section-catalog-list__filter-top(v-if="isFilterShow")
                        filter-icon.section-catalog-list__filter-icon(@click="catalogFilterOpen=true")
                    
                              
                   
                        
                    catalog-filter.section-catalog-list__catalog-filter(:class="{open:catalogFilterOpen}" v-if="isFilterShow", :item-list="catalogList", @resultItemList="val=>filterList=val")
                    portal(to="popup-filter")
                        box-controls(type="popup"  v-if="catalogFilterOpen", @boxControlClose="catalogFilterOpen=false")
                            catalog-filter(v-if="isFilterShow", :item-list="catalogList", @resultItemList="val=>filterList=val")
                .section-catalog-list__content
                    slot
                        //.section-catalog-list__sort
                            v-select(:options="sortOptions" v-model="model.sort")
        
                        ul.section-catalog-list__list
                            li.section-catalog-list__item(v-for="(item,index) in catalogList", :key="item.id" v-show="showItem(item)")
                                article.section-catalog-list__article
                                    catalog-item(v-bind="item" v-show="showItem(item)")





</template>

<script>
import filterIcon from '@/assets/icons/cogs.svg'
import CatalogNav from '@/components/CatalogNav.vue'
import CatalogItem from '@/components/CatalogItem'
import CatalogFilter from '@/components/CatalogFilter'
import VSelect from '@/components/VSelect'
import BoxControls from "@/components/BoxControls";

import lodash_cloneDeep from 'lodash/cloneDeep'

export default {
    components: {
        BoxControls,
        VSelect,
        CatalogFilter,
        CatalogItem,
        CatalogNav,
        filterIcon
    },
    
    data() {
        return {
            catalogFilterOpen:false,
            model:{
                sort:{}
            },
            filterList:[],
        }
    },
    props: {
    
       /* navList:{
            type:Array,
            default:()=>[]
        },*/
    /*    catalogList:{
            type:Array,
            default:()=>[]
        }*/
    },
    methods:{
        showItem(catalogItem){
            
            if(!this.isFilterShow) return true
            
            return this.filterList.find(item=>catalogItem.id===item.id)
        }    
    },
    computed: {
        isFilterShow(){


            return this.$store.state.control.pageData?.catalog?.data?.catalogFilterShow
        },
        navList(){


            return this.$store.getters['categories']
        },
        catalogList(){
            let list = this.$store.state.control.pageData?.tickets || []
            return lodash_cloneDeep(list).sort(function(a, b) {
               
                if (a.price > b.price) {
                    return 1; }
                if (a.price < b.price) {
                    return -1; }
                return 0;
            })
        },
        title(){
            return this.$store.state.control.pageData.catalog?.data?.catalogBreadCrumbsTitleAfter
        },
          
       
        sortOptions() {
            return {
                label: 'name',
                placeholder: 'Сортировать по',
                options: [
                    {
                        name: 'Цене',
                        value: 'kakos'
                    },
                    {
                        name: 'Дате',
                        value: 'obrikos'
                    }
                ]
            }
        }
    }
}
</script>

<style lang="scss">
.section-catalog-list {
    position: relative;
    z-index: 1;

    &__title {
        @add-mixin h 1;

        @add-mixin point xs-only {
            display:none;
        }
    }

    &__row {
        display: grid;
        grid-template-rows: min-content;
        grid-template-columns: 1fr 3fr;
       
           

        grid-gap: jsvar(gap);
        
        @add-mixin point xs-only {
            grid-template:
                'nav'
                'sort'
                'list' max-content/1fr ;

            justify-items: center;
        }
    }
    &__content {
    
    }
    &__filter-top {
        cursor:pointer;
        padding:1em;
        border:1px solid jscolor(border);
        border-radius:jsvar(border-radius-field);
        display: inline-flex;
        fill:jscolor(accent);
        background-color:jscolor(light);
        @add-mixin point sm-after {
            display:none;

        }

    }
    &__catalog-filter {
        margin-top: indent(md);
        @add-mixin point sm-only {

            display:none;
          
        
            
          

           
        }
        
       

    }
    &__nav {
      
        width:100%;
      
        .catalog-nav {
            margin-bottom:indent(lg);
            @add-mixin point xs-only {
                display:none;
            }

           
        }
       

     
    }
    &__sort {
        margin-bottom:jsvar(gap);
        width:244px;
    }
    &__list {
    

        display: grid;
        grid-template-columns: repeat(auto-fit, 244px);
      
        grid-auto-rows:max-content;

        gap: jsvar(gap);

        @include listClear;
    
    }

    &__item:hover {
        z-index: 1;
    }


}
</style>
