<template lang="pug">
    section.section-main

        v-container
            .section-main__content-wrap
                slider-swiper(v-bind="swiperOptions")
                        .section-main__content(v-for="(item,index) in list", :key="index")
                            .section-main__text
                               
                                h1(v-if="item.title!='null'" v-html="item.title")
                                text-html(v-if="item.description!='null'", :html="item.description" light)



                                p.section-main__btn(hidden)
                                    v-btn(large @click="$root.$emit('popup','formRequest')") Оставить заявку
                            .section-main__image
                                img(v-if="setImage(item.images)" :alt="item.title", :data-src="setImage(item.images)" class="lazyload" width="700" height="500").section-main__img
                slider-swiper-control(:classPrefix="swiperOptions.prefixClassSwiperControl" light)
                .section-main__btn-xs(hidden)
                    v-btn(large @click="$root.$emit('popup','formRequest')") Оставить заявку

</template>

<script>
import SliderSwiper from '@/components/SliderSwiper.vue'
import TextHtml from '@/components/TextHtml.vue'
import VBtn from '@/components/VBtn'
import SliderSwiperControl from '@/components/SliderSwiperControl'
export default {
    name: 'SectionMain',
    components: {
        SliderSwiperControl,
        SliderSwiper,
        VBtn,
        TextHtml
    },
    created(){

    },
    data() {
        return {
            itemList: [
                {
                    html: `
                        <div class="h1">Охранно-противоугонные<br>системы для Вашего<br>автомобиля</div>
                    `,
                    img: {
                        url:this.$_apiServer('upload/img/section-main/section_main_1.jpg'),
                        alt: ''
                    }
                },
                {
                    html: `
                        <div class="h1">Акция ноября!<br>бесплатная тонировка<br>при заказе от 15 000 руб</div>
                    `,
                    img: {
                        url:this.$_apiServer+('upload/img/section-main/section_main_2.png'),
                        alt: ''
                    }
                }
            ]
        }
    },
    methods:{
        setImage(images){
            if(images?.length) return this.$_apiServer(images[0])
        }
    },
    computed: {
        
        list(){
            return this.$store.state.control.pageData.indexTop
        },
        swiperOptions() {
            return {
                options: {
                    effect: 'fade'
                },
                prefixClassSwiperControl: this.componentName
            }
        }
    }
}
</script>

<style lang="scss">
.section-main {
    .swiper-slide {
        overflow: hidden;
    }

    @mixin decorCircle {
        border-radius: 50%;
        border-style: solid;
        border-color: jscolor(accent);
        content: '';
        display: block;
        position: absolute;
    }

    position: relative;

    background-color: jscolor(dark);
    color: jscolor(light);

    @add-mixin point xs-after {
        overflow: hidden;
    }

    &__text {
        h1,.h1 {
            @add-mixin h 1-light ;
        }
        @add-mixin point xs-only {

            h1,
            .h1 {
                font-size: jsfs(h2);
            }

        }    
    }

  

    &__content-wrap {
        position: relative;

        padding: indent(sm) 0;

        @add-mixin point xs-after {
            padding: indent(lg) 0;
            min-height: 700px;

            &::before {
                @include decorCircle;
                width: 510px;
                height: 510px;
                border-width: 50px;
                right: 100%;
                top: 100%;

                transform: translate(-19%, -50%);
            }

            &::after {
                @include decorCircle;
                width: 265px;
                height: 265px;
                border-width: 25px;
                left: 100%;
                bottom: 100%;

                transform: translate(85%, 47%);
            }
        }
    }
    &__content {
        background-color: jscolor(dark);

        z-index: 2;

        @add-mixin point xs-after {
            display: grid;
            grid-template: 'text img' auto/40% calc(60% - 30px);
            column-gap: jsvar(gap);
        }
    }
    &__text {
        grid-area: text;
        align-self: center;
        padding-bottom: indent(sm);
    }
    &__image {
        grid-area: img;
        align-self: center;
    }
    &__img {
        width:100%;
        height: 51vh;
        border-radius: jsvar(border-radius);
        object-fit:contain;
        overflow:hidden;
    }

    &__btn {
        margin-top: 8vh;
        @add-mixin point xs-after {
            display: block;
        }
    }

    .slider-swiper-control {
        margin-top: indent(sm, -1);
        padding: 0 0 indent(md);
    }

    .section-main__btn-xs {
        text-align: center;
        margin: jspx(-16) 0 jspx(-60);
        position: relative;
        z-index: 2;
        @add-mixin point xs-only {
            display: block;
        }
    }
}
</style>
