<template lang="pug">
    section.section-example(v-if="content.length")
        v-container
            .section-example__title Примеры работ
        slider-swiper(v-bind="swiperOptions")
            .section-example__item(v-for="(item,index) in content", :key="index")
                img(:src="item.url" alt="" width="750" height="500").section-example__img
      
        v-container.section-example__control
            slider-swiper-control(:classPrefix="swiperOptions.prefixClassSwiperControl")

       
           
          
                
</template>

<script>
import SliderSwiper from "@/components/SliderSwiper";
import SliderSwiperControl from "@/components/SliderSwiperControl";

export default {
    components: {
        SliderSwiperControl,
        SliderSwiper},
    name: "section-example", 
    data() {
        return {}
    },
    computed: {
       
        content(){
            return this.$store.state.control.pageData.catalog?.data?.catalogExampleList || [];


        },

      
        swiperOptions() {
            return {
                options: {
                    loop: true,
                    initialSlide:2,
                    effect: 'coverflow',
                    centeredSlides: true,
                    spaceBetween: 0,
                    slidesPerView: 'auto',
                    coverflowEffect: {
                        rotate: 0,
                        stretch: 0,
                        depth: 300,
                        modifier: 1,
                        slideShadows : false
                    },
                },
                prefixClassSwiperControl: this.componentName
            }
        }
    }
}
</script>

<style lang="scss">
    .section-example{
        margin:indent(xlg) 0;

        @add-mixin point md-only {
           
            margin:indent(lg) 0;
        }
        
        text-align:center;
        &__title {
            
            @add-mixin h 1;
            @include hdecor(center)
        }
        
        &__img {
            @include img;
            box-shadow:none;
            max-width:100%;
            
            @add-mixin point sm-after {
                max-width:750px;
            }
           
        }
        &__item {
            padding:0 jspx(75);
            @add-mixin point xs-only {

                padding:0 jspx(15);
            }
        }
        
        .swiper-slide {
           

            @add-mixin point sm-after {
                width:auto;
            }
        }
        
        &__control {
            text-align: center;
            display: flex;
            justify-content: center;
        }
    }
</style>
