<template lang="pug">
    section.section-catalog-list-calc(v-if="itemList.length")
        v-container
            h2.section-catalog-list-calc__title с этим товаром устанавливают
            ul.section-catalog-list-calc__list

                li.section-catalog-list-calc__item(v-for="(item,index) in itemList", :key="item.id")
                    article.section-catalog-list-calc__article
                        catalog-item(v-bind="item")
                li.section-catalog-list-calc__item.section-catalog-list-calc__item_result
                    //section-catalog-list-calc-result
                        | {{priceSaleCalc}} руб.
                    p.section-catalog-list-calc__price-wrap
                        span.section-catalog-list-calc__price {{priceCalc | intcomma}} руб.
                        br
                        span Цена с установкой
                    v-btn(@click="$root.$emit('popup','formRequest')") Подробнее
</template>

<script>
import CatalogItem from '@/components/CatalogItem'
import VBtn from '@/components/VBtn'
import SectionCatalogListCalcResult from '@/components/SectionCatalogListCalcResult'
import { intcomma } from '@/filters'
export default {
    name: 'SectionCatalogListCalc',
    filters: { intcomma },
    components: {
        SectionCatalogListCalcResult,
        VBtn,
        CatalogItem
    },
    data() {
        return {
           
        }
    },
    computed:{
        itemList(){
            return this.$store.state.control.pageData?.catalogDetailListCalc?.map(item=>{
                item.brief=true;
                return  item
            }) || []
        },
        priceCalc(){
            let list = this.itemList.map(item => item.price)
            if (list.length) return list.reduce((accumulator, currentValue) => Number(accumulator) + Number(currentValue))
            return 0

        },
        priceSaleCalc(){
        
            let list = this.itemList.map(item => item.price_sale)
            if (list.length) return list.reduce((accumulator, currentValue) => Number(accumulator) + Number(currentValue))
            return 0  
            
        },    
    },
   
}
</script>

<style lang="scss">
.section-catalog-list-calc {
    margin:indent(xlg) 0;

    &__title {
        @add-mixin h 1;
        @include hdecor(center);
        text-align: center;
    }

    &__list {
        grid-area: list;

        display: grid;
        //grid-template-columns: repeat(auto-fit, minmax(240px,264px));
        grid-template-columns: repeat(auto-fit, minmax(240px,264px));
        grid-template-rows: auto;

        justify-content: center;
        align-items: center;
        align-content: center;

        grid-gap:30px 54px;

        @include listClear;
    }

    &__item:hover {
        z-index: 1;
    }

    &__item {
        position:relative;
        &:not(:first-child):not(:last-child)::after{



            content:'+';
            display:block;
            text-align:center;
            font-size: 1.75em;

            color:jscolor(accent);

            position: absolute;
   


            right: 50%;
            top: 0;
            transform: translate(50%, -37px);
            
            @add-mixin point xs-after {
                right: 100%;
                top: 50%;
                transform: translate(-22px, -50%);     
            }
        }
    }

    &__item_result {
        align-self: center;
        text-align:center;

    }

    .section-catalog-list-calc-result {
        margin-bottom:jspx(12);
    }

    &__price {
        color: jscolor(accent);
        font-size: jsfs(h5);
        font-weight: bold;
        margin-top:0;
    }
    &__price-wrap {
        margin-bottom:35px;
    }
}
</style>
