<template lang="pug">
    section.section-catalog-main()
        .section-catalog-main__inner
            img.section-catalog-main__img(:data-src="imageSrc" alt="" class="lazyload")
            v-container.section-catalog-main__inner-container
                text-html(light :html="content.catalogTopContent")
                 
                .section-catalog-main__space
                mark.section-catalog-main__mark(v-if="content.catalogBonusIs")
                    span.section-catalog-main__mark-content
                        span.section-catalog-main__mark-title(v-text="content.catalogBonusTitle")
                        =' '
                        span.section-catalog-main__mark-text(v-text="content.catalogBonusText")
                section-catalog-form-request
        .section-catalog-main__utp(v-if="catalogTopUtpList.length")
            .section-catalog-main__utp-wrap
                v-container
                    utp-list(:itemList="catalogTopUtpList")
                     


</template>

<script>
import UtpList from '@/components/UtpList'
import SectionCatalogFormRequest from '@/components/SectionCatalogFormRequest.vue'
import TextHtml from '@/components/TextHtml.vue'

export default {
    name: 'SectionCatalogMain',
    components: {
        TextHtml,
        SectionCatalogFormRequest,
        UtpList
    },
    data() {
        return {}
    },
    computed:{
        content(){
            return this.$store.state.control.pageData.catalog?.data || {}
        },
        catalogTopUtpList(){
            return this.content?.catalogTopUtpList || []
        },
        img(){
            return this.$store.state.control.pageData.catalog?.images[0]
        },
        imageSrc(){
            return `${this.$_apiServer(this.img)}`
            
        }
    }
}
</script>

<style lang="scss">
.section-catalog-main {
    &__inner {
        position: relative;
        color: jscolor(light);
        background-color: jscolor(dark);
        padding: 2.2em 0 ;

        @add-mixin point sm-after {
            min-height: 38.542vw;
            max-height: 740px;
            padding-bottom:indent(lg);
        }

        display: flex;
        align-items: center;
    }

    &__utp {
        margin-top: -5vw;
        position: relative;
    }

    &__space {
        @add-mixin point xs-after {
            flex-grow: 1;
        }
    }

    &__mark {
        @add-mixin point sm-only {
            font-size: 0.5em;
           
        }

        margin: -4.2em 0 2em;

        position: relative;
        color: jscolor(light);
        background-color: transparent;

        width: jspx(255);
        height: jspx(255);
        display: flex;
        align-items: center;
        justify-content: center;

        &::before {
            @include decor-circle;
            @include abs-stretch;
            z-index: 0;
        }

        &-content {
            position: relative;
            flex-direction: column;
            display: flex;
            padding:2em;
            text-align:center;
            line-height: 1.2;
        }

        &-title {
            font-size: jspx(29);
          
        }
        &-text {
            font-size: jspx(18);
        }
    }

    .text-html {
        @add-mixin point sm-after {
            h1,
            .h1 {
                font-size: jspx(62);

                margin-bottom: 0;
            }
            p {
                @add-mixin h 5-light;
            }
        }

        margin-bottom: jspx(50);
    }

    .section-catalog-form-request {
        max-width: 946px;
        width: 100%;
    }

    &__inner-container {
        position: relative;
        display: flex;
        flex-wrap: wrap;
    }

    &__img {
        @include bgImg;
        @include abs-stretch;
        object-fit:cover;

        

        &::before {
            @include abs-stretch;
            content: '';
            background-image: linear-gradient(
                90deg,
                #010150 0%,
                rgba(1, 1, 80, 0) 101.28%
            );
        }
    }

    &__utp{
        padding-bottom: indent(lg);
        @add-mixin point xs-only{
            padding-bottom: indent(xs);    
        }
        
        


        &-wrap {

            overflow-x:auto;
            overflow-y:hidden;

            .utp-list {


                min-width: 760px;
            }
        }
    }
    &__utp-wrap {


    }
    

}
</style>
