<template lang="pug">
    section.section-callback
        v-container
            
            .section-callback__content
                section-catalog-form-request
                    legend.title(slot="legend")
                        | Оставьте номер и наш специалист
                        br
                        | проконсультирует вас
                    template(v-slot:btn) Перевоните мне
</template>

<script>

import SectionCatalogFormRequest from "@/components/SectionCatalogFormRequest";

export default {
    components: {
        SectionCatalogFormRequest,
        },
    name: 'SectionCallBack',
    data() {
        return {}
    },   
}
</script>

<style lang="scss">
.section-callback {
    min-height: 485px;
    background: url(~@/assets/img/section-call-back-bg.jpg) no-repeat center/cover;
    content: '';
    display: grid;
    align-content: center;
    
    
    
    .section-catalog-form-request {
        background:none;
        padding:0;
        &__title {
            @add-mixin h 3-light;
        }
    }
    
    &__content {
        max-width: 897px;
    }
   
    &__info {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 20px;
        
    }
    &__input {
        background: #ffffff;
        border: 1px solid #cdd4df;
        box-sizing: border-box;
        border-radius: 10px;
        width: 100%;
        font-size: 16px;
        line-height: 1.2;
        color: #7c99ba;
        padding: 20px 25px;
    }
    &__btn {
        background: linear-gradient(90deg, #293df2 0%, #5c00f2 100%);
        border-radius: 30px;
        line-height:1.2;
        font-size: 16px;
        color: #ffffff;
        padding: 21px 49px;
        border: none;
    }
}
</style>
