<template lang="pug">

    v-bem.section-catalog-form-request(@submit.prevent="submit" tag="form")

        fieldset(v-if="!isSend")
            slot(name="legend")
                legend(v-html="content.catalogTopFormTitle") Оставьте заявку и наш специалист подберет вам нужное оборудование

            ul
                li
                    v-field(
                    placeholder="Ваше имя:"
                    name="name"

                    v-model="model.name",
                    )
                li
                    v-field(
                    placeholder="Телефон:"
                    name="tel"
                    type="tel"
                    v-model="model.phone",
                    v-validate="'required'",
                    )


                li

                    v-btn(type="submit" block ): slot(name="btn") Отправить заявку
        .is-send(v-else)
            p.thanks Спасибо!
            p.title Ваша заявка принята. #[br] Наш специалист скоро #[br] с вами свяжется
            p Мы в соц. сетях и мессенджерах
            v-social

</template>

<script>
import VField from '@/components/VField'
import VBtn from '@/components/VBtn'
import VSocial from '@/components/VSocial'

import requestForm from '@/mixins/requestForm'

export default {
    components: {
        VSocial,
        VBtn,
        VField
    },
    mixins:[requestForm],

    computed:{
        content(){
            return this.$store.state.control.pageData.catalog?.data || {}
        },
   
    }
}
</script>

<style lang="scss">
.section-catalog-form-request {
    @include box-info;


    background-color: rgba(237, 242, 247, 0.2);
    border-radius:jsvar(border-radius-field);
    @include formfieldsetClear;

    &__legend {
        font-size: jsfs(h5);
        color: jscolor(light);
        margin-bottom: 1em;
    }
    &__ul {
        @include listClear;
        display: flex;
        flex-flow: wrap;
        /*   grid-template:
                   "text field btn" auto/33% auto/33% auto/33% ;*/
        min-width: 0;

        @include row-offset-a;

        @add-mixin point xs-only {
            flex-direction: column;
        }
    }
    &__li {
        @include row-offset-a_col;
        flex: 1 0 auto;
    }

    &__is-send {
        color: jscolor(light);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    &__thanks {
        margin-bottom: 0.5;
    }
    &__v-social {
        margin-top: jspx(15);
        justify-content: flex-start;
        font-size: 1.5em;
    }
}
</style>
