<template lang="pug">
    p.section-catalog-list-calc-result
        span.section-catalog-list-calc-result__price
            slot
        =' '
        small.section-catalog-list-calc-result__label цена за комплекс
</template>

<script>
export default {
    name: 'SectionCatalogListCalcResult',
    data() {
        return {}
    }
}
</script>

<style lang="scss">
.section-catalog-list-calc-result {
    margin:0;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%) rotate(20deg);
        height: 1px;
        background-color: jscolor(infodark);
        margin: 0 -1em;
    }
    background-color: jscolor(info);
    border-radius: 5em;
    display: inline-flex;
    flex-direction: column;
    padding: 0.5em 1.5em;
    &__price {
        color: jscolor(dark);
    }
    &__label {
        font-size: jsfs(small);
    }
}
</style>
