<template lang="pug">
    section.section-stocks
        v-container
            ul.section-stocks__list(v-if="itemList")
                li.section-stocks__item
                    stock-item(v-bind="itemList[0]")


                li.section-stocks__item
                    stock-item(v-bind="itemList[1]")
                li.section-stocks__item
                    stock-item(v-bind="{...itemList[2],secondary:true}")
</template>

<script>
import StockItem from '@/components/StockItem'
import VBtn from '@/components/VBtn'

export default {
    name: 'SectionStocks',
    components: {
        VBtn,
        StockItem
    },
    data() {
        return {
          
        }
    },
    computed:{
        itemList(){
            return this.$store.state.control.pageData.indexStock?.map(item=>{
                if(item.images[0]) item.url = this.$_apiServer(item.images[0])
                return item
            })    
        }
    }
}
</script>

<style lang="scss">
.section-stocks {
    &__list {
        @include listClear;
        /* display:grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: auto auto auto;
            gap:jsvar(gap);*/

        display: flex;
        flex-flow: wrap;
        @include row-offset-a;
    }
    &__item {
        @include row-offset-a_col;
        flex: 1 1 305px;
    }
}
</style>
