<template lang="pug">
    .section-services-item(:class="classRoot")
        .section-services-item__name()
            span.section-services-item__mobile(hidden @click="mouseenterMobile")
            my-nuxt-link(v-if="to" :to="to", @mouseenter="mouseenter" :title="$slots.name").section-services-item__link
                span(@mouseenter="mouseenter").section-services-item__mouseenter
            slot(name="name")
        .section-services-item__text(v-click-outside="outside")
            .section-services-item__close(@click.stop="isActiveData=false")
            .section-services-item__icon
                slot(name="icon")
            client-only
                .section-services-item__name-ps(hidden)
                    slot(name="name")
            p: slot(name="text")
            p.section-services-item__btn: v-btn(small @click="$root.$emit('popup','formRequest')") Оставить заявку
</template>

<script>
import ClickOutside from 'vue-click-outside'
import VBtn from '@/components/VBtn'

export default {
    name: 'SectionServicesItem',
    components: { VBtn },
    directives: {
        ClickOutside
    },
    props:{
        to:{
            type:[String,Object],
            default:null,
        }
    },

    data() {
        return {
            isActiveData: false,
            isActiveDataMobile: false,
        }
    },
    computed: {
        classRoot() {
            const list = []
            if (this.isActiveData) list.push(`${this.componentName}_active`)
            if (this.isActiveDataMobile) list.push(`${this.componentName}_active_mobile`)
            return list.join(' ')
        }
    },
    mounted() {
        // prevent click outside event with popupItem.
        this.popupItem = this.$el

        this.$root.$on('sectionServicesItemAction',this.action)
        this.$root.$on('sectionServicesItemActionMobile',this.actionMobile)
    },
    beforeDestroy(){
        this.$root.$off('sectionServicesItemAction',this.action)
        this.$root.$off('sectionServicesItemActionMobile',this.actionMobile)
    },
    methods: {
        action(val){
            this.isActiveData=false
        },
        actionMobile(val){
            this.isActiveDataMobile=false
        },
        outside(){
            this.$root.$emit('sectionServicesItemAction',false)
        },
        mouseenter(){
            this.$root.$emit('sectionServicesItemAction',false)
            this.isActiveData=true;
            
        },
        mouseenterMobile(){
            this.$root.$emit('sectionServicesItemActionMobile',false)
            this.isActiveDataMobile=true;
            
        }
    }
}
</script>

<style lang="scss">
.section-services-item {
    &__link,&__mobile,&__mouseenter {
        @include abs-stretch;
        
    }
   
    &__mouseenter {
        z-index:2;
    }
    &__name {
        position:relative;
        @add-mixin h 4;
        margin-bottom: 0;
        border: 1px solid jscolor(infodarken);
        background-color: jscolor(light);
        line-height: 1;
        padding: 0.7em 5px;
        border-radius: 2em;
        text-align: center;
        @include trans;
        cursor: pointer;

        &:hover {
            background-color: jscolor(infodarken);
        }
    }
    &__icon {
        $sz: 100px;
        background-color: jscolor(light);
        border: 1px solid jscolor(infodarken);
        border-radius: 100%;
        width: $sz;
        height: $sz;

        margin: -62px auto -12px;

        @add-mixin point xs-after {
            margin: -$sz auto 2em;
        }

        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__btn {
        margin-top: indent(md);
        margin-bottom: 0;
    }

    &__text {
        margin-top: jspx(20);
        text-align: center;
        @include box-info;
        background-color: jscolor(infodarken);
        color: jscolor(dark);
        @include trans;

        opacity: 0;
        visibility: hidden;

        position: absolute;

        @add-mixin point xs-after {
            z-index: 999;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -66%);
            max-width: 386px;

            color: jscolor(light);
            background: rgba(115, 115, 115, 0.02);
            backdrop-filter: blur(30px);
        }
    }

    @supports not (backdrop-filter: blur(30px)) {
        @add-mixin point xs-after {
            &__text {
                background: rgba(77, 77, 77, 0.5);
            }
        }
    }

    @add-mixin point xs-after {
        &__close {
            display: inline-block;
            padding: 1em 2em;
            cursor: pointer;
            position: absolute;
            right: 0;
            top: 0;
            &::before {
                content: '×';
                font-size: 30px;
                line-height: 1;
                color: jscolor(accent);
            }
        }
    }

    &_active &__text {
        visibility: visible;
        opacity: 1;

        @add-mixin point xs-only {
            position: relative;
        }
    }

    &__name-ps {
        @add-mixin point xs-after {
            @add-mixin h 2-light;

            display: block;
        }
    }

    
    @add-mixin point xs-only {
        
        &__link {
            display:none;
        }
        &__mobile {
            z-index:3;
            display:block;
        }
        &_active_mobile &__text {
            visibility: visible;
            opacity: 1;
            z-index:2;
            position:relative;

        }
    }
   
}
</style>
