<template lang="pug">
    section.section-catalog-reason(v-if="content")
        v-container.section-catalog-reason__v-container
            .section-catalog-reason__title
                section-catalog-reason-title
            //v-render
                div(v-html="content" id="content")
            //component(v-bind:is="content")
            ul.section-catalog-reason__list
                li.section-catalog-reason__item(v-for="(item,index) in content", :key="index")
                    section-catalog-reason-item
                        template(v-slot:numb) 0{{index+1}}
                        div(slot="title" v-html="item.title")
                        div(slot="text" v-html="item.content")
       
</template>

<script>
import SectionCatalogReasonTitle from '@/components/SectionCatalogReasonTitle.vue'
import SectionCatalogReasonItem from '@/components/SectionCatalogReasonItem.vue'

export default {
    components: {
        
        SectionCatalogReasonTitle,
        SectionCatalogReasonItem
    },
    data() {
        return {}
    },
    computed:{
        content(){
            return this.$store.state.control.pageData.catalog?.data?.catalogUtpContentList;

          
        },

    },
    created(){
        //console.log(document.getElementById('#content'));
    }
}
</script>

<style lang="scss">
.section-catalog-reason {
    
    
    @add-mixin point xs-after {
        padding: indent(lg) 0;    
    }

    &__v-container {
        text-align: center;

        @add-mixin point sm-after {
            display: grid;
            grid-template: 'title list';
            grid-template-columns: auto 1fr;
            grid-template-rows: auto auto;
            grid-column-gap: 5%;

            justify-content: flex-start;
            align-items: center;
            margin-bottom: 0;
        }
    }

    &__title {
        grid-area: title;

        @add-mixin point sm-only {
            margin-bottom: 3em;
        }
    }

    &__list {
        text-align: left;
        grid-area: list;
        @include listClear;

        @add-mixin point xs-after {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto;
            grid-column-gap: jspx(32);
        }
    }
    &__item {
        margin: jspx(41) 0;
    }
}
</style>
