<template lang="pug">
    section.section-services-other
        v-container
            text-html(h1-decor center)
                h1 Другие услуги
                ul.section-services-other__list
                    li.section-services-other__item(v-for="item in itemList", :key="item.id")
                        services-item(:to="$store.getters.categoriesRoute(item)")
                            template(v-slot:name) {{item.title}}
                //ul.section-services-other__list
                    li.section-services-other__item
                        services-item
                            template(v-slot:name) Автосигнализации

                    li.section-services-other__item
                        services-item
                            template(v-slot:name) Комплексы

                    li.section-services-other__item
                        services-item
                            template(v-slot:name) Автозапуск

                    li.section-services-other__item
                        services-item
                            template(v-slot:name) Антигравийная пленка

                    li.section-services-other__item
                        services-item
                            template(v-slot:name) Иммобилайзеры

                    li.section-services-other__item
                        services-item
                            template(v-slot:name) Тонировка автомобиля

                    li.section-services-other__item
                        services-item
                            template(v-slot:name) Поисковые маяки

                    li.section-services-other__item
                        services-item
                            template(v-slot:name) Установка парктроников

                    li.section-services-other__item
                        services-item
                            template(v-slot:name) Защита радиаторов

                    li.section-services-other__item
                        services-item
                            template(v-slot:name) Механическая защита


</template>

<script>
import TextHtml from '@/components/TextHtml'
import ServicesItem from '@/components/ServicesItem'





export default {
    components: {
        ServicesItem,
        TextHtml,

    },

    data() {
        return {}
    },
    computed: {
        itemList() {
            return this.$store.getters['catalog']
        }
    }
}
</script>

<style lang="scss">
.section-services-other {
    margin:indent(xlg) 0;
    &__list {
        
        @include listClear;
        
        display:grid;
        grid-template-columns:repeat(auto-fill,minmax(216px, 1fr));
        grid-gap:jsvar(gap) jsvar(gap-sm);
    }

    &__item {


    }
}
</style>
