<template lang="pug">
    my-nuxt-link(:to="to").services-item
        slot(name="name")
</template>

<script>
export default {
    name: "services-item",
    props:['to'],
    data() {
        return {}
    },
}
</script>

<style lang="scss">
    .services-item{
        display:block;
        @add-mixin h 6;
        word-break:normal;
        margin-bottom: 0;
        border: 1px solid jscolor(infodarken);
        background-color: jscolor(light);
        line-height: 1;
        padding: 0.7em 5px;
        border-radius: 2em;
        text-align: center;
        @include trans;
        cursor: pointer;



        &:hover {
            background-color: jscolor(infodarken);
        }
    }
</style>
