<template lang="pug">
    article.stock-item(:class="classList")
        template(v-if="!secondary")
            .stock-item__img
                img.stock-item__img-inner(:data-src="url" :alt="title" class="lazyload" width="385" height="300" v-if="url")
            .stock-item__img-hover-wrap
                .stock-item__img-hover
                    img.stock-item__img-hover-inner(hidden :data-src="url" :alt="title" class="lazyload" width="385" height="300" v-if="url")
            .stock-item__inner
                mark.stock-item__tag Акция

                    //stock-tag.stock-item__tag
                .stock-item__title(v-text="title")
                .stock-item__btn-wrap
                    v-btn(link @click="$root.$emit('popup','formRequest')") Узнать подробнее
        template(v-else)
            .stock-item__img
                img.stock-item__img-inner(:data-src="url" :alt="title" class="lazyload" width="385" height="300" v-if="url")
            .stock-item__inner
                .stock-item__title(v-text="title")
                .stock-item__btn-wrap
                    v-btn( small @click="$root.$emit('popup','formRequest')") Узнать подробнее
</template>

<script>
import stockTag from '@/assets/icons/stock-tag.svg'
import VBtn from '@/components/VBtn'
export default {
    name: 'StockItem',
    components: {
        VBtn,
        stockTag
    },
    props: {
        secondary: {
            type: Boolean,
            default: false
        },
        url: {
            type: String,
            default: ''
        },
        title: {
            type: String,
            default: ''
        }
    },
    data() {
        return {}
    },
    computed: {
        classList() {
            const list = []
            if (this.secondary) list.push(`${this.componentName}_secondary`)
            else list.push(`${this.componentName}_primary`)

            return list.join(' ')
        },
        style() {
            return this.url ? `background-image:url(${this.url})` : ''
        }
    }
}
</script>

<style lang="scss">
.stock-item {
    position: relative;
    $br: jsvar(border-radius);

    color: jscolor(light);

    $el: '.stock-item';

    @mixin decor {
        content: '';
        display: block;
        @include abs-stretch;
        border-radius: $br;
        @include trans;
        overflow: hidden;
    }

    #{$el}__inner {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;

        padding: indent(sm) indent(md);
        position: relative;

        height: 56vw;
        min-height: 210px;
        height: 300px;
    }
    #{$el}__img {
        &-inner {
            @include abs-stretch;
            object-fit:cover;
            width:100%;
            height:100%;
        }
        @include decor;
        // background: url(~@/assets/img/stock-bg.png) jscolor(dark) no-repeat center/cover;
        &::before {
            @include decor;
            background: linear-gradient(
                70.32deg,
                rgba(1, 1, 1, 0.7) 22.31%,
                rgba(191, 206, 223, 0) 100%
            );
        }
    }
    #{$el}__img-hover-inner {
        @include abs-stretch;
        object-fit:cover;
        display:block;
    }
    &_primary {
        #{$el}__img-hover {
            @include decor;
            // background: url(~@/assets/img/stock-bg.png) jscolor(dark) no-repeat center/cover;

            &-wrap {
                @include decor;
                &::after {
                    @include decor;
                    background: linear-gradient(
                        18.1deg,
                        #293df2 13.81%,
                        rgba(41, 61, 242, 0.2) 92.13%
                    );
                }

                opacity: 0;
                visibility: hidden;
            }

            filter: blur(4px);
        }

        #{$el}__tag {
            @include trans;
            z-index: 0;
            position: absolute;
            left: 56px;
            top: 0;

            margin-bottom: 20px;

            background-color: transparent;
            color: jscolor(light);
            font-weight: bold;
            font-size: jsfs(small);
            text-transform: uppercase;
            padding: 3px 9px;
            display: inline-block;

            &::before {
                right: auto;
                bottom: auto;
                width: 87px;
                height: 56px;
                content: '';
                @include abs-stretch;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                background: url(~@/assets/img/stock-tag.png) no-repeat center;
                z-index: -1;
                @include trans;

                margin-left: 6px;
                margin-top: 7px;
            }
        }

        #{$el}__title {
            z-index: 1;
            @add-mixin h 5-light;
            max-width: 200px;
        }

        #{$el}__btn-wrap {
            margin-top: 4em;
            margin-bottom: indent(sm);
            font-size: 0;
            .v-btn {
                font-size: inherit;
                transition-property: border;
                &:hover {
                    color: inherit;
                }
            }
            @include trans;
        }

        @add-mixin point xs-after {
            &:hover {
                #{$el}__tag {
                    z-index: 0;
                    position: relative;
                    left: 0;

                    font-size: 12px;
                    border-radius: 5px;
                    background: jscolor(light);

                    color: jscolor(accent);

                    &::before {
                        transition: none;
                        opacity: 0;
                        visibility: hidden;
                    }
                }
                #{$el}__img-hover-wrap {
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(-2.5%);
                }
                #{$el}__btn-wrap {
                    z-index: 1;
                    font-size: jsfs(main);
                }
            }
        }
    }

    &_secondary {
        #{$el}__title {
            @add-mixin h 2-light;
        }
        #{$el}__btn-wrap {
            z-index: 1;
            font-size: jsfs(main);

            margin-top: 2em;
            margin-bottom: 1em;
        }
    }
}
</style>
