<template lang="pug">
    
    .utp-icon(:class="classRoot" v-if="html" v-html="html")
    .utp-icon(:class="classRoot" v-else)
        slot

</template>

<script>
export default {
    props: {
        html:{
            type: String,
            default: null
        },
        size: {
            type: String,
            default: ''
        }
    },
    data() {
        return {}
    },
    computed: {
        classRoot() {
            const list = []
            if (this.size) list.push(`${this.componentName}_${this.size}`)
            return list.join(' ')
        }
    },

    mounted() {},
    methods: {}
}
</script>

<style lang="scss">
.utp-icon {
    $sz: jspx(100);
    background-color: jscolor(info);
    border: 1px solid transparent;
    border-radius: 100%;
    width: $sz;
    height: $sz;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 1.3em;

    &_lg {
        @add-mixin point sm-after {
            font-size: 1.7em;    
        }
        
    }

    &_md {
        font-size: 0.75em;
    }

    svg {
        width: 100%;
        height: auto;
        max-width: 100%;
        max-height: 100%;
    }
}
</style>
