<template lang="pug">
    v-bem(tag="ul").utp-list
        li(v-for="(item,index) in itemList", :key="index+'item'")
            utp-icon(size="lg" :html="item.svg")
             
            .name(v-html="item.title")
              
    //
        li
            utp-icon(size="lg")
                icon-diagnostic
            .name Защищаем салон #[br] при установке
        li
            utp-icon(size="lg")
                icon-sert
            .name Сертифицированный #[br] установочный центр
        li
            utp-icon(size="lg")
                icon-teh
            .name Тех Поддержка 24/7
        li
            utp-icon(size="lg")
                icon-garant
            .name Гарантия на все #[br] оборудование 3 года
</template>

<script>
import UtpIcon from '@/components/UtpIcon'

import IconSert from '@/assets/icons/utp/sert.svg'
import IconTeh from '@/assets/icons/utp/teh.svg'
import IconDiagnostic from '@/assets/icons/utp/diagnostic.svg'
import IconGarant from '@/assets/icons/utp/garant.svg'

export default {
    name: 'UtpList',
    components: {
        UtpIcon,

        IconDiagnostic,
        IconSert,
        IconTeh,
        IconGarant
    },
    props:{
        itemList:{
            type:Array,
            default:()=>[]
        }    
    },
    data() {
        return {}
    },
    created(){
      
    },
    computed:{
      
    }
}
</script>

<style lang="scss">
.utp-list {
    @include listClear;
    @include row-offset-a;

    display: flex;


    

    text-align: center;
    justify-content: space-around;

    &__li {
        @include row-offset-a_col;
    }

    &__name {
        @add-mixin h 5;
        margin-top: 0.5em;
        margin-bottom: 0;
    }
}
</style>
