<template lang="pug">
    transition
        v-bem(tag="label", :class="classObject")
            span.input-wrap
                span.label(v-if="label" v-text="label")

                textarea.input.input_textarea(
                    v-if="type==='textarea'"
                    v-bind="getInputOptions",
                    v-on="inputListeners",
                    ref="input",

                )

                input(
                    v-else
                    v-bind="getInputOptions",
                    v-on="inputListeners",
                    ref="input",
                )




            //strong.error(
                v-if="errors.has(name)"
                v-html="errors.first(name)"
                )


</template>

<script>
export default {
    name: 'VField',
    inject: ['$validator'],
    inheritAttrs: false,
    props: {
        theme: {
            type: String,
            required: false,
            default: ''
        },

        label: {
            type: String,
            required: false,
            default: ''
        },
        placeholder: {
            type: String,
            required: false,
            default: ''
        },
        name: {
            type: String,
            required: false
        },
        type: {
            type: String,
            required: false,
            default: 'text'
        },
        disabled: {
            type: Boolean,
            required: false,
            default: false
        },
        value: {
            required: false,
            default: ''
        },
        autocomplete: {
            type: String,
            required: false,
            default: 'off'
        }
    },
    data() {
        return {
            focus: false,
            options: {}
        }
    },

    computed: {
        getInputOptions() {
            const obj = {
                autocomplete: this.autocomplete,
                disabled: this.disabled,
                name: this.name,
                type: this.type,
                placeholder: this.getPlaceholder,
                value: this.value
            }
            return Object.assign({ maxLength: 100 }, this.$attrs, obj)
        },

        getPlaceholder() {
            if (this.label != '') return
            if (this.placeholder == '' && this.type == 'email')
                return 'Укажите адрес почты'
            if (this.placeholder == '' && this.type == 'search') return 'Поиск'
            else return this.placeholder
        },
        classObject() {
            const root = this.componentName

            const obj = {}

            ;(obj[root + '_theme'] = this.theme),
                (obj[root + '_has_value'] = !!this.value),
                (obj[root + '_focus'] = this.focus),
                (obj[root + '_disabled'] = this.disabled),
                (obj[root + '_label'] = this.label),
                (obj[root + '_error'] = this.errors.items.filter(
                    (item) => item.field === this.name
                ).length)
            return obj
        },

        inputListeners() {
            const vm = this
            // `Object.assign` объединяет объекты вместе, чтобы получить новый объект
            return Object.assign(
                {},
                // Мы добавляем все слушатели из родителя
                this.$listeners,
                // Затем мы можем добавить собственные слушатели или
                // перезаписать поведение некоторых существующих.
                {
                    // Это обеспечит, что будет работать v-model на компоненте
                    focus(event) {
                        vm.$emit('focus')
                        vm.focus = true
                    },
                    blur(event) {
                        vm.$emit('blur')
                        if (event.target.value) return
                        vm.focus = false
                    },
                    input(event) {
                        vm.$emit('input', event.target.value)
                    }
                }
            )
        }
    },

    methods: {}
}
</script>

<style lang="scss">
.v-field {
    $el: '.v-field';
    $border-radius_field: jsvar(border-radius-field);
    $border: jscolor(border);
    $color_error: jscolor(error);
    $color_bg: jscolor(light);
    $color_main: jscolor(dark);
    $color_focus: jscolor(dark);
    $color_disabled-field: jscolor(border);
    $color_placeholder: jscolor(infodark);

    $padding_input: jspx(20) jspx(30);
    $font-size_small: jsfs(small);
    $line-height: 1;
    $box-shadow: none;

    text-align: left;
    position: relative;
    min-width: 180px;
    display: block;

    &__input-wrap {
        position: relative;
        display: block;
    }
    &_error #{$el}__input,
    &[aria-invalid='true']:not([aria-required='false']) #{$el}__input {
        border-color: $color_error;
    }

    &__input {
        @include normalizeInput;

        border: 1px solid $border;
        //background-color:$color_bg;
        background-color: $color_bg;
        border-radius: $border-radius_field;
        padding: $padding_input;

        width: 100%;
        position: relative;
        line-height: 1;
        -webkit-appearance: none;

        &::placeholder,
        &::-webkit-input-placeholder,
        &:-moz-placeholder,
        &::-moz-placeholder,
        &:-ms-input-placeholder {
            color: $color_placeholder;
        }

        &:focus {
            outline: none;
            border-color: $color_focus;
            //box-shadow:0 0 1px 0 $color_focus;;
        }

        &_textarea {
            line-height: 1.5;
            word-break: break-all;

            resize: none;
        }
    }

    &__label {
        @include trans;
        line-height: $line-height;
        @include abs-stretch;
        z-index: 1;
        pointer-events: none;
        top: 50%;
        transform: translateY(-50%);
        padding-left: jspx(20);
        bottom: auto;
    }

    &_focus #{$el}__label,
    &_has_value #{$el}__label,
    &__error {
        color: $color_error;
        font-size: jsfs(small);
        padding: jspx(5) 0 0 0;
        display: block;
        font-weight: inherit;
    }
}
</style>
