<template lang="pug">
    footer.v-footer()
        v-container.v-footer__container
            .v-footer__col
                logo
                .v-footer__phone
                    phone-link
                    .v-footer__phone-text Контактный телефон
                p г. Москва, ул. Беломорская, д.40 стр.2
            .v-footer__btn
                v-btn(small @click="$root.$emit('popup','formRequest')")
                    |Получить консультацию
            .v-footer__nav-main
                nav-main
            .v-footer__nav-secondary
                nav-secondary
            .v-footer__social
                v-social.v-footer__social-icons
                .v-footer__social-text Мы в социальных #[br] сетях
            .v-footer__spacer
            p.v-footer__cop Alarm ST 2011-2021 ©  все права защищены


</template>

<script>
// import resize from 'vue-resize-directive'
import resize from '@/mixins/resize.js'
import { cssVars } from '@/modules/cssHelper.js'

// import { Responsive } from "vue-responsive-components"
import Logo from '@/assets/icons/logo.svg'
import NavSecondary from '@/components/NavSecondary'
import NavMain from '@/components/NavMain'
import PhoneLink from '@/components/PhoneLink'
import VBtn from '@/components/VBtn'
import VSocial from '@/components/VSocial'
export default {
    components: {
        VSocial,
        VBtn,
        PhoneLink,
        NavSecondary,
        NavMain,
        Logo
    },
    mixins: [resize],
    data() {
        return {
            isShow: false
        }
    },
    watch: {
        windowSize([w, h]) {
            if (w > cssVars['point-xs']) this.isShow = true
            else this.isShow = false

           
        }
    },
    created() {},
    methods: {
        /*  onResize(val){
            console.log(val);
        } */
    }
    /*   breakpoints: {
        small: el => el.width <= 500
    } */
}
</script>

<style lang="scss">
.v-footer {
    padding: jspx(83) 0;
    background: jscolor(info);
    color:jscolor(dark);

    &__spacer {
        width: 100%;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: flex-start;
        @add-mixin point sm-only {
            flex-direction: column;
            align-items: stretch;
            text-align: center;
        }
    }
    &__phone {
        margin-top: 2.5em;
        margin-bottom: 2em;
        @add-mixin point sm-only {
            text-align: center;
        }
    }
    &__phone-text {
        margin-top: jspx(10);
        font-size: jsfs(small);
    }

    &__nav-main {
        margin-top: -1em;
        max-width: 360px;
        width: 100%; /*ie*/
        margin-bottom: 2em;
        .nav-main__item {
            position:relative;
          
        }

        .nav-main__sublist {
            right: auto;
            width: 200%;
            bottom: 100%;
            top: auto;
            height: auto;
            font-size: 0.7em;
            border-radius: jsvar(border-radius);
        }
        @add-mixin point sm-only {
            display: none;
        }
    }
    &__nav-secondary {
        .nav-secondary__list {
            flex-flow: column;
        }
        @add-mixin point sm-only {
            display: none;
        }
    }
    &__social {
        margin-top: 0.2em;
        text-align: center;
        @add-mixin point sm-after {
            text-align: right;
        }

        @add-mixin point sm-only {
            br {
                display: none;
            }
            margin-bottom: 2em;
        }
        &-icons {
            margin: 0 0 jsvar(gap);

            @add-mixin point sm-after {
                text-align: right;
                margin-left: jsvar(gap);
            }
        }
        &-text {
            margin-top:jspx(10);
        }
    }

    &__cop {
        font-size: jsfs(small);
        margin-bottom: 0;
        @add-mixin point sm-after {
            width: 28%;
        }
    }
    &__btn {
        text-align: center;
        margin-bottom: 2em;
        @add-mixin point sm-after {
            order: 99;
            margin-right: auto;
            margin-bottom: 0;
        }
    }

    &__spacer {
        @add-mixin point sm-only {
            display: none;
        }
    }
}
</style>
