<template lang="pug">
    section.popup
        box-controls(v-if="!!noticeText", type="notice", @boxControlClose="noticeText=false")
            span(slot="text" v-html="noticeText")
            base-btn(@click="noticeText=false") Понятно
        box-controls(type="popup"  v-if="show.formRequest", @boxControlClose="hide")
            popup-form-request
        box-controls(type="popup"  v-if="show.formRequest2", @boxControlClose="hide")
            popup-form-request
                template(v-slot:legend) Быстрая запись 
                template(v-slot:title) Заполните всего 2 поля, и мы свяжемся с вами для уточнения деталей
        portal-target(name="popup-filter")
       
        

</template>

<script>


export default {
    components: {

        BoxControls: () => import('@/components/BoxControls.vue'),
        PopupFormRequest: () => import('@/components/PopupFormRequest.vue'),
    },

    data() {
        return {
            noticeText: false,

            closePopupName: '',
            show: {
                formRequest: false,
                formRequest2: false
            }
        }
    },
    computed: {},
    created() {
        this.$root.$on('popup', this.showName)

        this.$root.$on('popup-notice', (text) => {
            this.noticeText = text
        })
    },
    beforeDestroy() {
        this.$root.$off('popup')
    },
    methods: {
        showName(name) {
            this.show[name] = true
            this.closePopupName = name
        },
        hide() {
            this.show[this.closePopupName] = false
        }
    }
}
</script>

<style lang="scss">
.popup {
    position: relative;
}
</style>
