<template lang="pug">
    .v-tabs(:class="classRoot")

            ul(v-if="$slots.name").v-tabs__header
                li.v-tabs__header-item(
                    :class="{active:selectIndex===index}" 
                    v-for="(item,index) in $slots.name", 
                    :key="index+'name'",
                    @click="select(index)")
                    a.v-tabs__header-item-link(
                        @click.prevent :href="`#content${index}`",
                        :title="nameTitle(index)",
                        :class="{title:nameTitle(index)}"
                        )
                        v-node(:node="item")
                      
            transition-group(v-if="$slots.content" tag="ul" name="slide-fade").v-tabs__content


                    li.v-tabs__content-item(
                    v-for="(item,index) in $slots.content",
                    :key="'content'+index",
                    :id="`#content${index}`"
                    v-show="selectIndex===index"
                    ): v-node(:node="item")

</template>

<script>
import VNode from '@/components/VNode'

export default {
    name: 'VTabs',
    components: { VNode },
    props:{
        headerThemeBorder: {
            type: Boolean,
            default: false
        },
    },
    data() {
        return {
            selectIndex: 0
        }
    },
    created() {
     
    },
    computed: {
        classRoot() {
            const list = []
            if (this.headerThemeBorder) list.push(`${this.componentName}_header-theme-border`)
            return list.join(' ')
        }
    },
    methods: {
        nameTitle(index){
           
            if(this.$slots.nameLabel) return this.$slots?.nameLabel[index]?.text
            return ''
            
        },
        select(index) {
            this.selectIndex = index
        }
    }
}
</script>

<style lang="scss">
.v-tabs {
    display: flex;
    flex-direction: column;
    
    $el:'.v-tabs';




    &__header {
        display: flex;
        flex-direction:column;
        list-style-type: none;
        margin: 0;
        padding: 0;
        justify-content: space-between;
        text-align: center;

        @add-mixin point xs-after {
            flex-direction:row;
        }

        &-item {
            border: 1px solid jscolor(border);
            background-color:jscolor(light);
            &:not(:last-child) {
                border-right: 0;
            }
            
            @add-mixin h 5;
            line-height: 1.2;
            word-break: inherit;
            margin-bottom: 0;
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;

            &.active {
                background-color: jscolor(accent);
                a {
                    color: jscolor(light);
                }
            }
            
         
            
            
        }
        &-item-link {
            display:flex;
            flex-direction:column;
            width:100%;
            padding: jspx(18) jspx(5);
            &.title::after{
                
                @add-mixin point xs-after {
                    content:attr(title);
                    display:inline-block;
                    margin-top:1em;
                    font-weight:normal;    
                }
                
                
            }
           
        }
    }

    &_header-theme-border  {
        #{$el}__header {

            display:grid;
            grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
            gap: 1.5vw;

            &-item,&-item:last-child {
                text-align:left;
                font-family:inherit;
                font-weight:bold;
                font-size:jsfs(main);
                border-radius:jsvar(border-radius-field);
                border: 1px solid jscolor(border);
            }
            &-item-link {
                padding: jspx(15) jspx(15);
            }
        }



    }

    &__content {
        margin: 0;
        padding: indent(sm);

        @add-mixin point sm-only {
            padding: indent(xs);    
        }
        @add-mixin point xs-only {
            padding: indent(xs) 0 0;  
        }
        list-style-type: none;

      
    }

  
}
</style>
