<script>
export default {
    name: 'VTitle',
    props: {
        level: {
            type: Number,
            default: 1
        },
        isDiv: {
            type: Boolean,
            default: false
        }
    },
    data() {
        return {}
    },
    render(h) {
        let Tag = 'h'

        if (!this.isDiv) {
            Tag = Tag + this.level
        } else {
            Tag = 'div'
        }

        const attributes = {
            attrs: {
                class: `v-title v-title_${this.level}`
            }
        }

        return <Tag {...attributes}>${this.$slots.default}</Tag>
    }
}
</script>

<style lang="scss">
.v-title {
    text-transform: uppercase;
}
</style>
