<template lang="pug">
    component(:is="componentPageCatalog")
</template>
<script>
import apiCatalog from '@/mixins/api/apiCatalog'
export default {
    components: {
        PageCatalogProducts:()=>import('@/pages/PageCatalogProducts'),
        PageCatalogPrice:()=>import('@/pages/PageCatalogPrice'),
        PageContacts:()=>import('~/pages/PageContacts.vue'),
        PageCatalogDetail:()=>import('~/pages/PageCatalogDetail.vue'),
    },
    mixins:[apiCatalog],
    data: () => ({
    }),
    scrollToTop: true,
    computed:{
        findCategory(){
            return this.$store.state.stateCategories.find(item=>item.name===this.$route.params.category)    
        },
        isPageText(){
            let find = this.findCategory
            if(!find) return false

       

            if(this.$store.state.stateCategories.find(item=>item.id===find.parent_id).name==='pagesText') return true
            
            return false 
        },

        componentPageCatalog(){
            if(!this.findCategory) return 'PageCatalogDetail'
            if(this.isPageText) return 'PageContacts'
            return this.$store.state.control.pageData.catalog?.data?.catalogPageIsNoProduct? 'PageCatalogPrice':'PageCatalogProducts'
        },
    },
    created(){
    },
    methods: {
    },
}
</script>

<style lang="scss">
</style>
