<template lang="pug">
    .page-catalog-detail
        lazy-hydrate(when-idle)
            section-catalog-detail-main
        lazy-hydrate(when-visible)
            bread-crumbs
        section-decor-wrap(name="footer" page-name="page-catalog-detail")
            lazy-hydrate(when-visible)
                catalog-detail
            lazy-hydrate(when-visible)
                section-catalog-list-calc
            lazy-hydrate(when-visible)
                section-catalog-list-more
            lazy-hydrate(when-visible)
                section-services-other
            lazy-hydrate(when-visible)
                v-container
                    section-map


</template>

<script>
const SectionMap=()=> import('@/components/SectionMap')

const SectionDecorWrap=()=> import('@/components/SectionDecorWrap')
const CatalogDetail=()=> import('@/components/CatalogDetail')
const SectionCatalogListCalc=()=> import('@/components/SectionCatalogListCalc')
const SectionCatalogListMore=()=> import("@/components/SectionCatalogListMore");
const SectionServicesOther=()=> import("@/components/SectionServicesOther");
const SectionServicesItem=()=> import("@/components/SectionServicesItem");
const BreadCrumbs=()=> import("@/components/BreadCrumbs");

const SectionCatalogDetailMain = () =>
    import('@/components/SectionCatalogDetailMain.vue')

import LazyHydrate from 'vue-lazy-hydration';
import apiCatalogDetail from '@/mixins/api/apiCatalogDetail'
export default {
    components: {
        LazyHydrate,
        BreadCrumbs,
        SectionServicesItem,
        SectionServicesOther,
        SectionCatalogListMore,
        SectionCatalogListCalc,
        CatalogDetail,
        SectionDecorWrap,

        SectionMap,
        SectionCatalogDetailMain
    },
    mixins:[apiCatalogDetail],
    scrollToTop: true,
}
</script>

<style lang="scss">
.page-catalog-detail {
    
    .section-catalog-detail-main {
        
        @add-mixin point sm-only {
            display:none;    
        }
    }
    
    .catalog-detail {
       

        @add-mixin point sm-after {
            margin: indent(md) 0;
        }
    }
}
</style>
