<template lang="pug">
    .page-catalog
        section-decor-wrap(name="header" page-name="page-catalog")
            lazy-hydrate(when-idle)
                section-catalog-main
                    template(slot="title") Виды тонировки
                    img(slot="img", :src="require('~/assets/img/section-tinting.jpg')" alt="Виды тонировки")
            lazy-hydrate(never)     
                bread-crumbs
            lazy-hydrate(when-visible)
                section-catalog-list
        lazy-hydrate(when-visible)
            section-example
        lazy-hydrate(when-visible)
            section-certificates
        
        
        section-decor-wrap(name="index-footer" page-name="page-catalog")
            lazy-hydrate(never)
                section-catalog-reason
            lazy-hydrate(never)
                section-catalog-seo-text
            lazy-hydrate(when-visible)
                v-container
                    section-map
        lazy-hydrate(never)
            banner-line-horizontal
        .page-catalog__footer
</template>

<script>
const SectionMap = () => import('@/components/SectionMap')
const SectionCertificates = () => import('@/components/SectionCertificates')
const SectionDecorWrap = () => import('@/components/SectionDecorWrap')
const SectionCatalogReason = () => import('@/components/SectionCatalogReason.vue')
const SectionCatalogSeoText = () => import('@/components/SectionCatalogSeoText')
const SectionPriceTable = () => import("@/components/SectionPriceTable");
const SectionPhotoOne = () => import("@/components/SectionPhotoOne");
const SectionTabsText = () => import("@/components/SectionTabsText");
const SectionExample = () => import("@/components/SectionExample");
const BreadCrumbs = () => import("@/components/BreadCrumbs");

const SectionCatalogMain = () => import('@/components/SectionCatalogMain.vue')
const SectionCatalogList = () => import('@/components/SectionCatalogList.vue')

// const PageFooter = () => import('@/components/VFooter.vue')

import apiTickets from '@/mixins/api/apiTickets'
const BannerLineHorizontal = () => import("@/components/BannerLineHorizontal");

import LazyHydrate from 'vue-lazy-hydration';

export default {
    components: {
        LazyHydrate,
        BannerLineHorizontal,
        BreadCrumbs,
        SectionExample,
        SectionTabsText,
        SectionPhotoOne,
        SectionPriceTable,
        SectionCatalogSeoText,
        SectionDecorWrap,
        SectionCertificates,
        SectionMap,
        SectionCatalogMain,
        SectionCatalogList,
        SectionCatalogReason
    },
    mixins:[
        
        apiTickets
      
    ],
    asyncData  (context) {
     


    },
   
    props:{
        
    },
    data: () => ({


        title:'',

        tickets:{
            list:[],
            count:1,
        },
    
        model: null,


    }),
    computed:{
       
       
      
     
    },



    methods: {
  
    },
}
</script>

<style lang="scss">
.page-catalog {
    .section-catalog-list {
      
        
        @add-mixin point xs-after {
            //padding-bottom: indent(lg);    
        }
    }

    &__footer {
    }

    /*  .section-decor-wrap {
            padding-top:0;
        }*/


}
</style>
