<template lang="pug">
    .page-catalog-price
        section-decor-wrap(name="header" page-name="page-catalog-price")
            lazy-hydrate(when-idle)
                section-catalog-main
           
                    
            lazy-hydrate(never)
                bread-crumbs
            lazy-hydrate(when-visible)
                section-catalog-list(is-filter-hide)
                    section-tabs-text
            lazy-hydrate(when-visible)
                section-price-table
            //section-price-table

                template(slot="name") Стандарт
                template(slot="description") Отечественные автомобили, Hyundai Solaris, KIA Rio, Chevrolet Aveo и другие

                template(slot="name") Бизнес
                template(slot="description") Ford Focus, Skoda Octavia, Kia Ceed, Audi A4, KIA Optima, Mercedes С/E-Класс, BMW X1/X3, Hyundai Creta и другие

                template(slot="name") премиум
                template(slot="description") Mercedes S-Класс, BMW 7, Audi A8, Porsche Panamera, Mercedes GL, Land Cruiser 200 и другие


                tr
                    th Тонировочная плёнка
                    td
                    td
                    td

                tr
                    td Stuble Pro
                    td 5 000 ₽
                    td 5 000 ₽
                    td 5 000 ₽
                tr
                    td Stuble Pro
                    td 5 000 ₽
                    td 5 000 ₽
                    td 5 000 ₽
                tr
                    th Тонировочная плёнка
                    td 5 000 ₽
                    td 5 000 ₽
                    td 5 000 ₽
                tr
                    th Тонировочная плёнка
                    td
                    td
                    td

                tr
                    td Stuble Pro
                    td 5 000 ₽
                    td 5 000 ₽
                    td 5 000 ₽
                tr
                    td Stuble Pro
                    td 5 000 ₽
                    td 5 000 ₽
                    td 5 000 ₽
                tr
                    th Тонировочная плёнка
                    td 5 000 ₽
                    td 5 000 ₽
                    td 5 000 ₽
            lazy-hydrate(never)
                section-photo-one
                    template(slot="title") Виды тонировки
                    img(slot="img", :src="require('~/assets/img/section-tinting.jpg')" alt="Виды тонировки")
            lazy-hydrate(when-visible)
                section-example
            
            
            

        lazy-hydrate(when-visible)
            section-decor-wrap(name="footer" page-name="page-catalog-price")
    
                section-catalog-reason
                
                v-container
                    section-map
        .page-catalog__footer
</template>

<script>
  
    
const SectionMap = () => import('@/components/SectionMap');
const SectionCertificates = () => import('@/components/SectionCertificates');
const SectionDecorWrap = () => import('@/components/SectionDecorWrap');
const SectionCatalogReason = () => import('@/components/SectionCatalogReason.vue');
const SectionCatalogSeoText = () => import('@/components/SectionCatalogSeoText');
const SectionPriceTable = () => import("@/components/SectionPriceTable");
const SectionPhotoOne = () => import("@/components/SectionPhotoOne");
const SectionTabsText = () => import("@/components/SectionTabsText");
const SectionExample = () => import("@/components/SectionExample");
const BreadCrumbs = () => import("@/components/BreadCrumbs");

const SectionCatalogMain = () => import('@/components/SectionCatalogMain.vue')
const SectionCatalogList = () => import('@/components/SectionCatalogList.vue')

// const PageFooter = () => import('@/components/VFooter.vue')
export default {
    components: {
        BreadCrumbs,
        SectionExample,
        SectionTabsText,
        SectionPhotoOne,
        SectionPriceTable,
        SectionCatalogSeoText,
        SectionDecorWrap,
        SectionCertificates,
        SectionMap,
        SectionCatalogMain,
        SectionCatalogList,
        SectionCatalogReason
    },
    mixins:[
       
       
    ],
}
</script>

<style lang="scss">
.page-catalog-price {
   .section-catalog-reason {
       padding:0 0 3em;
   }

    /*  .section-decor-wrap {
            padding-top:0;
        }*/

   
}
</style>
