<template lang="pug">
    section.page-contacts
        bread-crumbs
        v-container
            
            text-html.page-contacts__text-html-title(v-html="content")
                h1 Alarm ST - сертифицированный установочный центр
        template(v-if="$route.params.category==='kontakty'")
            .page-contacts__map
                v-container
                    section-map
            v-container
                //.page-contacts__address
                    contacts-address-item
                        template(v-slot:title) Приезжайте Alarm Беломорская
                        template(v-slot:address)  г. Тюмень, ул. Ставропольская, 165, проезд перед строением 18
                        template(v-slot:time)  9:00-20:00
                    contacts-address-item
                        template(v-slot:title) Приезжайте Alarm Беломорская
                        template(v-slot:address)  г. Тюмень, ул. Ставропольская, 165, проезд перед строением 18
                        template(v-slot:time)  9:00-20:00
                .page-contacts__subs-info
                    contacts-subs.page-contacts__contacts-subs
                    .page-contacts__info
                        contacts-info-item
                            template(v-slot:icon)
                                icon-phone
                            template(v-slot:title) позвоните нам
                            template(v-slot:text)
                                a(href="tel:+74993977270") 7 (499) 397-72-70
                        contacts-info-item
                            template(v-slot:icon)
                                icon-email
                            template(v-slot:title) напишите нам
                            template(v-slot:text)
                                a(href="mailto:info@alarmst.ru") info@alarmst.ru
        .page-contacts__callback
            section-call-back
</template>

<script>



    import apiPagesText from '@/mixins/api/apiPagesText'
    
    
import SectionMap from '@/components/SectionMap'
import ContactsAddressItem from '@/components/ContactsAddressItem'
import ContactsSubs from '@/components/ContactsSubs'
import ContactsInfoItem from '@/components/ContactsInfoItem'
import iconPhone from '@/assets/icons/phone2.svg'
import iconEmail from '@/assets/icons/email.svg'
import VSocial from '@/components/VSocial'
import SectionCallBack from '@/components/SectionCallBack'
import TextHtml from "@/components/TextHtml";
import BreadCrumbs from "@/components/BreadCrumbs";

export default {
    name: 'PageContacts',
    components: {
        BreadCrumbs,
        TextHtml,
        ContactsAddressItem,
        SectionMap,
        ContactsSubs,
        ContactsInfoItem,
        iconPhone,
        iconEmail,
        VSocial,
        SectionCallBack
    },
    mixins:[apiPagesText],
    data() {
        return {}
    },
    mounted () {
       
    },
    computed:{


        content(){

            return this.$store.state.control.pageData.catalog?.data?.catalogTopContent


        },


    },
}
</script>

<style lang="scss">
.page-contacts {

    &__text-html-title {
        margin-top:indent(md);
        margin-bottom:indent(md);
    }
    
    &__map {
        position:relative;
        .section-map {
            margin-top:0;
        }
        .section-map__inner {
            position:static;
        }
    }
    &__address {
        margin-top:-1px;
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
        grid-gap:jsvar(gap);
    }
    &__subs-info {
        display:grid;
        gap:jsvar(gap);
        margin:indent(lg) 0;
    }
    &__info {
        display: grid;
        
       
        grid-gap: jsvar(gap);
        
        grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
        grid-template-rows:auto;

      
      
    }
}

.contacts-address-item {
    &__title {
    }
}
</style>
