@mixin notClass($tag){
    @if $tag=='p' {
        #{$tag}{
            margin-top:0;
            margin-bottom:0;

            &:not([class]) {
                margin-bottom:1em;
            }
        }
    }
    @if $tag=='small' {
        #{$tag}{
            font-size:inherit;
            &:not([class]) {
                font-size:jsfs(small);
            }
        }
    }
    @if $tag=='strong' {
        #{$tag}{
            font-weight:inherit;
            &:not([class]) {
                font-weight:600;
            }
        }
    }
}

@mixin fontFamilySecondary {
    font-family:'Oswald', Helvetica, Arial, sans-serif;
}
@mixin listClear {
    list-style-type:none;
    padding-left:0;
    margin-top:0;
    margin-bottom:0;
}

@mixin formfieldsetClear {
    fieldset{
        border:0;
        padding:0;
        margin:0
    }
    legend{
        width:100%
    }
}

@mixin trans {
    transition:all .3s linear;
}

@mixin row-offset {
    margin-left:calc(jsvar(gap) / -2);
    margin-right:calc(jsvar(gap) / -2);

}
@mixin row-offset-a {
        margin:calc(jsvar(gap) / -2);
}

@mixin row-offset_col {
    padding-left:calc(jsvar(gap) / 2);
    padding-right:calc(jsvar(gap) / 2);

}

@mixin row-offset-a_col {
    padding:calc(jsvar(gap) / 2);

}

@mixin abs-stretch {
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
}

@mixin normalizeInput(){

    font-family:inherit; /* 1 */
    font-size:100%; /* 1 */
    line-height:1.15; /* 1 */
    margin:0; /* 2 */
    overflow:visible;
    height:auto;

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
        line-height:1.15;
    }
}

@mixin img {

        max-width:100%;
        border-radius:jsvar(border-radius);
        box-shadow:jsvar(box-shadow);
        height:auto;
        &:not([alt]){outline:2px solid red;
        }

}


@mixin decor-circle() {

        z-index:-1;
        content:'';
        border-radius:50%;
        background: linear-gradient( #293DF2 35.94%, #7800F1 85.63%);
        display:block;
        position:absolute;

        animation: decor-circle 10s linear infinite alternate;




}

@keyframes decor-circle {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform:rotate(270deg)  scale(0.9);
        transform: rotate(270deg) scale(0.9);
    }
}


@mixin placeholder{
    &::-webkit-input-placeholder{
        @content;
    }

    &:-moz-placeholder{ /* Firefox 18- */
        @content;
    }

    &::-moz-placeholder{ /* Firefox 19+ */
        @content;
    }

    &:-ms-input-placeholder{
        @content;
    }
}




@mixin box-info($light:false,$shadow:false,$border:false) {
    border-radius:jsvar(border-radius);
    background-color:jscolor(info);
    padding:indent(md);


    @if $light=='light' {
        background-color:jscolor(light);
    }
    @if $shadow=='shadow' {
        box-shadow:jsvar(box-shadow);
    }
    @if $border=='border' {
        border:1px solid jscolor(border);
    }

    @add-mixin point xs-only{
        padding-left:indent(xs);
        padding-right:indent(xs);
    }
}

@mixin bgImg {
    background:no-repeat center/cover;
}

@mixin hdecor($center:false) {
    &:after{
        content:'';
        display:block;
        width: 2em;
        height: 4px;
        background-color:jscolor(accent);
        margin-top: 1em;
        margin-bottom: 1em;
        box-shadow:0px 4px 20px rgba(41, 61, 242, 0.2);

        @if $center=='center' {
            margin-left:auto;
            margin-right:auto;
        }
    }



}


@function indent($name,$number:1){
    $size:0;
    @if $name=='xs' {$size:jsvar(indent-xs)}
    @if $name=='sm' {$size:jsvar(indent-sm)}
    @if $name=='md' {$size:jsvar(indent-md)}
    @if $name=='mlg' {$size:jsvar(indent-mlg)}
    @if $name=='lg' {$size:jsvar(indent-lg)}
    @if $name=='xlg' {$size:jsvar(indent-xlg)}
    @return calc(#{$size} * #{$number})
}

/*@mixin mediaNameScss($name:'xs-after'){
    @if $name == 'xs-after'{
        @media (min-width:var(--breakpoints-xs)){
            @content;
        }
    }
    @if $name == 'xs'{
        @media (max-width:600px){
            @content;
        }
    }

}*/

@mixin visuallyhidden{
    position:absolute;
    white-space:nowrap;
    width:1px;
    height:1px;
    overflow:hidden;
    border:0;
    padding:0;
    clip:rect(0 0 0 0);
    clip-path:inset(50%);
    margin:-1px;
}



