//@import "colors";

//FONT
$font-family_main:'PT Sans', Helvetica, Arial, sans-serif;

$glob-font-size_main:16px;

@function calc-em($target, $context: $glob-font-size_main){
  $target:$target * 1px;
  @return ($target / $context) * 1em;
}
@function calc-px-to-em($px, $context: $glob-font-size_main){

    @return ($px / $context) * 1em;
    //@return ($target / $context) * 1em;
}

$glob-font-size_h1: calc-em(50);
$glob-font-size_h2: calc-em(25);
$glob-font-size_small:calc-em(11);


$glob-font-size_h3:calc-em(14);
$glob-font-size_h4:calc-em(13);
$glob-font-size_h5:calc-em(12);
$glob-font-size_h6:calc-em(11);
$glob-font-size_small:calc-em(11);

$glob-line-height_main:1.2;


$width_xs:767px;
$width_md:1023px;
$width_lg:1200px;
$width_xl:1370px;



$glob-trans:.3s ease-in-out;
$glob-border-radius:5px;

$glob-box-shadow:0px 30px 50px 0px rgba(38, 35, 60, 0.1);

//indent





